<% content_for :title do %>Season - <%= @season.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2></h1>
    <h1><%= @season.name %></h1> 
  </div>
<% end %>

<p id="notice"><%= notice %></p>
<%= render 'layouts/albumlist/albumlist_sidebar', :collection  => @sources  %>  

<% content_for :usersidebar do %>
  <%= render :partial => 'layouts/albumlist/albumlist_sorts'%>
  <%= render :partial => 'layouts/albumlist/albumlist_filters'%>
  <% if can? :edit, Season %>
    <%= link_to 'Edit', edit_season_path(@season) %>
  <% end %>
<% end %>