<% content_for :title do %>Season - <%= @season.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= @season.name %></h2>
    <div class="sublink">Browse other seasons <%= link_to "here", seasons_path%></div>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<% content_for :usersidebar do %>
  <% if can? :edit, Season %>
    <%= link_to 'Edit', edit_season_path(@season) %>
  <% end %>
<% end %>

<% content_for :left_sidebar do %>
    <%= render :partial => 'layouts/grid/selection_sidebar', :locals =>  {:collection => @sources}%>
<% end %>

<%= render :partial => 'layouts/grid/album_area', :locals => {:sort => "year"} %>  

<% content_for :right_sidebar do %>
  <%= render :partial => 'layouts/grid/filter_sort_sidebar' %>
<% end %>

