<div class="row-fluid">
<%= fields_for ('song[' + song_id.to_s + '][newsources][ids]') do |f| %>
		<%= f.label '', "Source ID", :class => "control-label" %>
    <%= f.autocomplete_field '', autocomplete_source_namehash_sources_path, :value => @defaultvalue, :class => "controls input-large" %>
<% end %>
<%= fields_for ('song[' + song_id.to_s + '][newsources][classification]') do |f| %>
    <%= f.select('', SongSource::Relationship, {:include_blank => true}, {:class => "controls input-xsmall"}) %>
<% end %>
<%= fields_for ('song[' + song_id.to_s + '][newsources][op_ed_number]') do |f| %>
    <%= f.label '', "#:", :class => "control-label" %>
    <%= f.text_field '', :class => "controls input-xmini" %>
<% end %>
<%= fields_for ('song[' + song_id.to_s + '][newsources][ep_numbers]') do |f| %>
    <%= f.label '', "Eps:", :class => "control-label" %>
    <%= f.text_field '', :class => "controls input-xmini" %>
<% end %>
</div>
