<h4>Sorting</h4>
<%= form_tag( sort_albums_path, :method => 'get', :id => 'sorting', :remote => true) do %>
  <%= radio_button_tag( 'sort', "week", true, :class => 'sort')%>
  <%= label_tag 'sort_week', 'week' %>
  <%= radio_button_tag( 'sort', "month", false, :class => 'sort') %>
  <%= label_tag 'sort_month', 'month' %>
  <%= radio_button_tag( 'sort', "year", false, :class => 'sort') %>
  <%= label_tag 'sort_year', 'year' %>
  <%= hidden_field_tag('ids', '', {:autocomplete => :off})%>
<% end %>