<%= render :partial => 'layouts/forms/well_toggle', locals: {:div_id => opts[:sub_div_id], :toggle_id => "#{opts[:sub_div_id]}Toggle"} unless opts[:sub_div_id].nil? %>
<%= content_tag(:h4, class: "text-center") {opts[:title]} unless opts[:title].nil? %>
<div<%= ' id="'.html_safe + opts[:sub_div_id] + '"'.html_safe unless opts[:sub_div_id].nil? %>>
  <% unless record.send("artist_#{record.class.to_s.downcase}s").nil?  %>
    <% record.send("artist_#{record.class.to_s.downcase}s").each do |relation| %>
      <div>
        <%= link_to relation.artist.internal_name, relation.artist %>
        <% categories = Artist.get_credits(relation.category) %>
        <%= hidden_field_tag "#{form_prefix}[update_artist_#{record.class.to_s.downcase}s][#{relation.id.to_s}][category][]" %>
        <% Artist::Credits.each_with_index do |credit,n| %>
          <%= check_box_tag "#{form_prefix}[update_artist_#{record.class.to_s.downcase}s][#{relation.id.to_s}][category][]", credit, categories.include?(credit) %> <%= Artist::CreditsAbbr[n] %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div id='<%= "Artists" + record.id.to_s %>'></div>
  <%= link_to "Add an Artist", add_model_path(parent_div: "#Artists#{record.id.to_s}",
  														 field_names: "#{form_prefix}[new_artists][id]",
  														 artist_category_names: "#{form_prefix}[new_artists][category][]",
  														 autocomplete_model: "artist",
  														 artist_display_names: "#{form_prefix}[new_artists][display_name]"), :remote => true %></br></br>
</div>