<div>
  <%= f.fields_for attribute do |c| %>
    <%= c.label attribute, "#{attribute.to_s.titleize}:" %>
    <%= c.select "#{attribute}(1i)", (1970)..(Date.current.year + 3), selected: f.object.send(attribute)["#{attribute}(1i)"], include_blank: true %>
    <%= c.select "#{attribute}(2i)", (1..12).to_a.map {|i| [I18n.t("date.month_names")[i], i]}, selected: f.object.send(attribute)["#{attribute}(2i)"], include_blank: true %>
    <%= c.select "#{attribute}(3i)", 1..31, selected: f.object.send(attribute)["#{attribute}(3i)"], include_blank: true %>
  <% end %>
</div>