<%= render :partial => 'layouts/forms/well_toggle', locals: {:div_id => opts[:sub_div_id], :toggle_id => "#{opts[:sub_div_id]}Toggle"} unless opts[:sub_div_id].nil? %>
<%= content_tag(:h4, class: "text-center") {opts[:title]} unless opts[:title].nil? %>
<div<%= ' id="'.html_safe + opts[:sub_div_id] + '"'.html_safe unless opts[:sub_div_id].nil? %>>
  <%= fields_for "#{form_prefix}[namehash]", record.namehash do |language| %>
    <% unless record.namehash.blank? %>
    	<% record.namehash.each do |k,v| %>
    	  <% unless k.blank? || v.blank? %>
    	  <div>
    		<%= language.label k, "#{k}:"%>
    		<%= language.text_field k, value: v %>
    	  </div>
        <% end %>
    	<% end %>
    <% end %>
  <% end %>
</div>
