<%= fields_for form_prefix, record do |f| %>
  <div class="single-form">
    <div class="section-header"><h3>Language</h3></div>  
    <div class="section-content">
      <div class="form-language">
        Albums, songs, and source material: 
        <%= select_tag "#{form_prefix}[language_settings][]", options_for_select(User::Languages.map { |e| [e.capitalize, e]}, current_user.language_settings.split(",").first) %>
      </div>
    </div>
    <div class="section-content">
      <div class="form-language">
        Artists and organizations: 
        <%= select_tag "#{form_prefix}[artist_language_settings][]", options_for_select(User::Languages.map { |e| [e.capitalize, e]}, current_user.artist_language_settings.split(",").first) %>
      </div>  
    </div>
    
    <div class="section-header"><h3>Content</h3></div>
    <div class="section-content sub-section">
      <h5>Display these types of content:</h5>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Display NWS", current_user.display_settings.include?("Display NWS"), id: "content-nws"  %>
        <%= label_tag "content-nws", "Mature content" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Display Limited Editions", current_user.display_settings.include?("Display Limited Editions"), id: 'content-le' %>
        <%= label_tag "content-le", "Limited editions of another album" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Display Reprints", current_user.display_settings.include?("Display Reprints"), id: 'content-reprint' %>
        <%= label_tag "content-reprint", "Reprints of another album" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Display Ignored", current_user.display_settings.include?("Display Ignored"), id: 'content-ignored' %>
        <%= label_tag "content-ignored", "Ignored albums (as marked in your #{link_to 'collection', collection_user_path })".html_safe %>
      </div>
    </div>
      
    <div class="section-content">
      <h5>Tweak how information is displayed:</h5>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Outline Album Art", current_user.display_settings.include?("Outline Album Art"), id: 'content-aa' %>
        <%= label_tag "content-aa", "Album art border: give albums in your collection a colored border" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[display_settings][]", "Bold AOS", current_user.display_settings.include?("Bold AOS"), id: 'content-aos' %>
        <%= label_tag "content-aos", "Bold people, organizations, and source material you are watching" %>
      </div>
      <% if can? :edit, Artist %>
        <div class="form-checkbox">
          <%= check_box_tag "#{form_prefix}[display_settings][]", "Bold For Editing", current_user.display_settings.include?("Bold For Editing"), id: 'content-editing' %>
          <%= label_tag "content-editing", "Italicize artists that have a completed status" %>
        </div>    
      <% end %> 
    </div>

    <div class="section-header"><h3>Privacy</h3></div>    
    <div class="section-content">
      <h5>Allow people to view your personal pages:</h5>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[privacy_settings][]", "Show Profile", current_user.privacy_settings.include?("Show Profile"), id: 'privacy-profile' %>
        <%= label_tag "privacy-profile", "Profile" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[privacy_settings][]", "Show Collection", current_user.privacy_settings.include?("Show Collection"), id: 'privacy-collection' %>
        <%= label_tag "privacy-collection", "Collection" %>
      </div>
      <div class="form-checkbox">
        <%= check_box_tag "#{form_prefix}[privacy_settings][]", "Show Watchlist", current_user.privacy_settings.include?("Show Watchlist"), id: 'privacy-watchlist' %>
        <%= label_tag "privacy-watchlist", "Watchlist" %>
      </div>    
    </div>
    
    <% if can? :language, Album %>
      <div class="section-header"><h3>Advanced language settings</h3></div>  
      <div class="section-content">
        <h5>Set the order of your back-up languages:</h5>
        <div class="secondary-languages">
          <% (User::Languages - [current_user.language_settings.split(",").first]).sort_by { |a| current_user.language_settings.split(",").index(a) || 10 }.each do |language| %>
            <div class="language">
              <%= language.capitalize %>
              <%= hidden_field_tag "#{form_prefix}[language_settings][]", language %>
            </div>
          <% end %>
        </div>
        <h5>Artist/organization backup languages:</h5>
        <div class="secondary-languages">
          <% (User::Languages - [current_user.artist_language_settings.split(",").first]).sort_by { |a| current_user.artist_language_settings.split(",").index(a) || 10 }.each do |language| %>
            <div class="language">
              <%= language.capitalize %>
              <%= hidden_field_tag "#{form_prefix}[artist_language_settings][]", language %>
            </div>
          <% end %>
        </div>
        
      </div>
    <% end %>
    
    <div class="actions submit">
      <%= submit_tag %>
    </div>
    
  </div>

<% end %>
