<% unless record.reference.nil? %>
  <% record.reference.each do |k,v| %>
    <div>
      <%= fields_for "#{form_prefix}[reference][types]" do |f| %>
        <%= f.label '', "Reference Link:" %>
        <%= f.select '', Album::ReferenceLinks, include_blank: true, selected: k %>
      <% end %>
      <%= fields_for "#{form_prefix}[reference][links]" do |f| %>
        <%= f.text_field '', value: v, class: "input-xlarge"  %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div id="<%= "references-#{record.id}"%>"></div>
<%= link_to "Add a Reference", add_reference_path(:fields_for => "#{form_prefix}[reference]", div_id: "references-#{record.id}"), :remote => true %></br></br>
