<%= render :partial => 'layouts/forms/well_toggle', locals: {:div_id => opts[:sub_div_id], :toggle_id => "#{opts[:sub_div_id]}Toggle"} unless opts[:sub_div_id].nil? %>
<%= content_tag(:h4, class: "text-center") {record.new_record? ? "Songs" : (link_to "#{opts[:title]} (Edit tracklist)", tracklist_edit_album_path)} unless opts[:title].nil? %>
<div<%= ' id="'.html_safe + opts[:sub_div_id] + '"'.html_safe unless opts[:sub_div_id].nil? %>>
  <% if record.songs.nil? == false %>
    <% record.songs.each do |song| %>
      <div>    
        <%= song.track_number %>
        <%= song.name %>
      </div>
    <% end %>
  <% end %>
  <div id="SongFields"></div>
  <%= link_to "Add a Song", addmodel_path(parent_div: "#SongFields", field_names: "#{form_prefix}[new_songs][names]", label: "Name:", song_info: "#{form_prefix}[new_songs][track_numbers]"), :remote => true %></br></br>     
</div>

