<div class="row-fluid">
  <%= fields_for ('song[' + song_id.to_s + '][newartistids]') do |f| %>
  		<%= f.label '', "ID:", :class => "control-label" %>
      <%= f.autocomplete_field '', autocomplete_artist_namehash_artists_path, :value => @defaultvalue, :class => "controls" %>
  <% end %>
  <% Artist::Credits.each_with_index do |credit,n| %>
    <%= check_box_tag 'song[' + song_id.to_s + '][newartistcategories][]', credit, @defaultcat == (credit) %> <%= Artist::CreditsAbbr[n] %> 
  <% end %>
  <%= hidden_field_tag 'song[' + song_id.to_s + '][newartistcategories][]', "New Artist" %>
</div>
