<%= form_for @artist, :html => {:class => "form-horizontal"} do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="control-group">
        <%= f.label :name, "Name:", :class => "control-label" %>
        <%= f.text_field :name, :class => "controls" %>
      </div>
      <div class="control-group">
        <%= f.label :altname, "Alternate Name:", :class => "control-label" %>
        <%= f.text_field :altname, :class => "controls" %>
      </div>
      <div class="control-group">
        <%= f.label :status, "Status:", :class => "control-label" %>
        <%= f.select :status, Album::Status, :include_blank => true  %>
      </div>
      <div class="control-group">
        <%= f.label :db_status, "Database Status:", :class => "control-label" %>
        <%= f.select :db_status, Artist::DatabaseStatus, :include_blank => true %>
      </div>
      <div class="control-group">
        <%= f.label :category, :class => "control-label" %>
        <%= f.select :category, Artist::Categories, :include_blank => true %>
      </div>   
      <div class="control-group">
        <%= f.label :activity, :class => "control-label" %>
        <%= f.select :activity, Artist::Activity, :include_blank => true %>
      </div>  
      <div id="Reference">
        <% if @artist.reference.nil? == false %>
          <% @artist.reference.each do |reference| %>
            <div class="row-fluid">
                <%= fields_for 'artist[reference][types]' do |f| %>
                    <%= f.label '', "Reference Link:", :class => "control-label" %>
                    <%= f.select '', Album::ReferenceLinks, :include_blank => true, :selected => reference[0] %>       
                <% end %>
                <%= fields_for 'artist[reference][links]' do |f| %>
                    <%= f.text_field '', :value => reference[1], :class=>"input-xlarge" %>
                <% end %>
            </div>
          <% end %>
        <% end %>
        <div id="ReferenceFields"></div>
        <%= link_to "Add a Reference", addreference_path(:fields_for => "artist[reference]"), :remote => true %></br></br>
      </div>
      <div class="control-group">
        <%= f.label :debut_date, "Debut Date:", :class => "control-label" %>
        <%= f.date_select :debut_date, :include_blank => true, :start_year => 1960 %>
      </div>
      <div class="control-group">
        <%= f.label :birth_date, "Birth Date:", :class => "control-label" %>
        <%= f.date_select :birth_date, :include_blank => true, :start_year => 1950 %>
      </div>
      <div class="control-group">
        <%= f.label :popularity, :class => "control-label" %>
        <%= f.select :popularity, (1..100).to_a.map{ |n| [n,n]}.reverse, :include_blank => true %>
      </div>
      <div class ="control-group">
        <%= f.label :images, "Add Images:", class: "control-label" %>
        <%= f.file_field :images, {:multiple => true} %>
      </div>           
      <div class="well">
        <h4 class="text-center">Tags</h4>
        <%= render :partial => 'tags/edit_tags', locals: {:subject => @artist } %>
      </div>   
      <div class="field">
        <%= f.label :info %>
        <%= f.text_area :info, :rows => '4', class: 'col-md-12' %>
      </div>
      <div class="field">
        <%= f.label :synopsis %><br />
        <%= f.text_area :synopsis, :rows => '2', class: 'col-md-12' %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
    <div id="TextFields" class="col-md-6">  
      <div  class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Artists', :toggleid => 'ArtistToggle'} %>
        <h4 class="text-center">Artist Relationships</h4>
        <div id="Artists">
          <%= render :partial => 'layouts/self_relation_edit_form', locals: {:relations => @artist.related_artist_relations, :edit_fields => 'artist[relatedartists]', :remove_fields => 'artist[removerelatedartists]', :model => 'Artist'} %>
          <div id="RelatedArtistFields"></div>
          <%= link_to "Add a Related Artist", addrelatedmodel_path(:div_id => "#RelatedArtistFields", :model => "Artist", :fields_for_cats => 'artist[newartistcategories]', :fields_for_names_or_ids => 'artist[newartistids]', :autocomplete => 'artist_namehash'), :remote => true %>
        </div>         
      </div>
      <div class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Organizations', :toggleid => 'OrgToggle'} %>
        <h4 class="text-center">Organizations</h4>
        <div id="Organizations">
          <% if @artist.artist_organizations.nil? == false %>
            <% @artist.artist_organizations.each do |relation| %>
              <div class="row-fluid">
                <%= check_box_tag 'artist[removeartistorganizations][]', relation.id %>
                <%= link_to relation.organization.name, relation.organization %>
                <%= fields_for 'artist[artistorganizations]['+ relation.id.to_s + ']' do |f| %>
                    <%= f.select 'category', ArtistOrganization::Categories, :selected => relation.category %>
                <% end %>             
              </div>
            <% end %>
          <% end %>
          <div id="OrganizationFields"></div>
          <%= link_to "Add an organization", addmodel_path(:div_id => "#OrganizationFields", :fields_for_names => "artist[neworganizationids]", :fields_for_cats => "artist[neworganizationcategories]", :category_model => "ArtistOrganization", :category_constant => "Categories", :autocomplete => 'organization_namehash'), :remote => true %></br></br> 
        </div>
      </div>
      <div class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Languages', :toggleid => 'LanguageToggle'} %>
        <h4 class="text-center">Languages</h4>
        <div id="Languages">
          <%= f.fields_for :namehash, @artist.namehash do |p| %>
            <br>English:<%= p.text_field :English, :class => "input-large", :value => @artist.namehash[:English] %>
            <br>Japanese:<%= p.text_field :Japanese, :class => "input-large", :value => @artist.namehash[:Japanese] %>
            <br>Romaji:<%= p.text_field :Romaji, :class => "input-large", :value => @artist.namehash[:Romaji] %>
            <br>Korean:<%= p.text_field :Korean, :class => "input-large", :value => @artist.namehash[:Korean] %>
            <br>Romanized Korean:<%= p.text_field :RomanizedKorean, :class => "input-large", :value => @artist.namehash[:RomanizedKorean] %>
          <% end %>
        </div>
      </div>
      <div class="field">
        <%= f.label :private_info, "Private Info" %>
        <%= f.text_area :private_info, :rows => '10', class: 'col-md-12' %>
      </div>
    </div>
  </div>
<% end %>
