<% content_for :title do %>Bug/Feature Tracker<% end %>

<% content_for :header do %>
  <h2 class="text-center">Bugs/Feature Tracker</h2>
<% end %>

<div id="bugreport" >
  <% @issues.group_by(&:category).each do |k,v| %>
      <h3 class="text-center"><%= k.pluralize %></h4>
      <% v.each_with_index do |issue,n| %>
        <div class="row well">
            <b ><%= link_to issue.name, issue %></b>
            <div class='pull-right'><i><%= issue.created_at.strftime("%B %-d, %Y") %></i></div><br><br>
            <%= truncate(issue.description, length: 300, separator: ' ')%>
        </div>
      <% end %>
  <% end %>
</div>

<% if can? :edit, Issue %>
<%= link_to "New Issue", new_issue_path %>
<% end %>

<% content_for :usersidebar do %>
<% end %>



