<div>
  <% unless @self_relationship_model.nil? %>
    <%= fields_for @category_field_names do |f| %>
      <%= f.label '', "This #{@self_relationship_model}"%><%= f.select '', @self_relationship_model.constantize::SelfRelationships %>
    <% end %>
  <% end %>
  
  <% unless @song_info.nil? %>
    <%= fields_for @song_info do |f| %>
      <%= f.label '', 'Track Number: ' %>
      <%= f.text_field '', :class => 'input-xmini'  %>
    <% end %>
  <% end %>
  
  <% unless @field_names.nil? %>
    <%= fields_for @field_names do |f| %>
  		<%= f.label '', @label %>
  		<% if @autocomplete_model.nil? %>
  		  <%= f.text_field '', :value => @default_value %>
      <% else %>
        <%= f.autocomplete_field '', autocomplete_path({:model => @autocomplete_model}), :value => @default_value %>
      <% end %>
    <% end %>
  <% end %>
    
  <% unless @categories.nil? || @category_field_names.nil? %>
    <%= fields_for @category_field_names do |f| %>
      <%= f.select '', @categories %>
    <% end %>
  <% end %>

  <% unless @text_area_field_names.nil? %>
    <%= fields_for @text_area_field_names do |f| %>
      <%= f.text_area '', rows: 10, :value => @default_value, class: "col-md-12" %>
    <% end %>
  <% end %>  
  
  <% unless @artist_category_names.nil? %>
    <% Artist::Credits.each_with_index do |credit,n| %>
      <%= check_box_tag @artist_category_names, credit %> <%= Artist::CreditsAbbr[n] %> 
    <% end %>
    <%= hidden_field_tag @artist_category_names, "New Artist" %>  
  <% end %>
  
  <% unless @song_source.nil? %>
    <%= fields_for "#{@song_source}[new_sources][op_ed_number]" do |f| %>
      <%= f.label '', "#:" %>
      <%= f.text_field '', :class => " input-xmini" %>
    <% end %>
    <%= fields_for "#{@song_source}[new_sources][ep_numbers]" do |f| %>
      <%= f.label '', "Eps:" %>
      <%= f.text_field '', :class => " input-xmini" %>
    <% end %>
  <% end %>
</div>