<div>
  <% unless @self_relationship_model.nil? %>
    <%= fields_for @category_field_names do |f| %>
      <%= f.label '', "This #{@self_relationship_model}"%><%= f.select '', @self_relationship_model.constantize::SelfRelationships %>
    <% end %>
  <% end %>
  <%= fields_for @field_names do |f| %>
		<%= f.label '', @label %>
		<% if @autocomplete_path.nil? %>
		  <%= f.text_field '', :value => @default_value %>
    <% else %>
      <%= f.autocomplete_field '', send(@autocomplete_path), :value => @default_value%>
    <% end %>
  <% end %>
  <% unless @categories.nil? || @category_field_names.nil? %>
    <%= fields_for @category_field_names do |f| %>
      <%= f.select '', @categories %>
    <% end %>
  <% end %>
  <% unless @artist_category_names.nil? %>
    <% Artist::Credits.each_with_index do |credit,n| %>
      <%= check_box_tag @artist_category_names, credit %> <%= Artist::CreditsAbbr[n] %> 
    <% end %>
    <%= hidden_field_tag @artist_category_names, "New Artist" %>  
  <% end %>
</div>