<% if record.errors.any? %>
  <div id="error_explanation">
    <% if record.class == UserSession %>
      <h5>Login Failed: <%= record.errors.map { |k,v| v }.join(", ")%></h5>
    <% else %>
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this <%= record.class.to_s.downcase %> from being saved:</h2>
      <ul>
      <% record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% fields.each do |field| %>
  <%= single_field_helper(field, record, form_prefix) %>
<% end %>