<% if @form.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@form.errors.count, "error") %> prohibited this <%= @form.record.class.to_s.downcase %> from being
      saved:</h2>
    <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @form, html: {class: 'form-horizontal'},
             url: @form.record.persisted? ? @form.record : send("#{@form.record.class.name.downcase}s_path"),
             method: @form.record.persisted? ? :patch : :post do |f| %>

  <div class="col-md-6">

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :internal_name} if @form.record.respond_to?('internal_name') %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :synonyms} if @form.record.respond_to?('synonyms') %>

    <% if @form.record.respond_to?('name_translations') %>
      <div>
        <%= f.fields_for :translations do |c| %>
          <% unless c.object.name.blank? %>
            <div>
              <%= c.hidden_field :locale %>
              <%= c.label :name, "#{c.object.locale} name:"  %>
              <%= c.text_field :name  %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add a Language for name ', f, :translation, klass: @form.record.class::Translation, fields: [:name] %></p>
      </div>
    <% end %>

    <% if @form.record.respond_to?('album') %>
      <div>
        <%= f.fields_for :record do |c| %>
          <%= c.label 'album_id', 'Album ID: ' %><%= @form.record.album_id %>
          <%= c.hidden_field 'album_id' %>
        <% end %>
      </div>
    <% end %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :catalog_number} if @form.record.respond_to?('catalog_number') %>

    <%= render partial: 'layouts/forms/fields/date',
               locals: {f: f, attribute: :release_date} if @form.record.respond_to?('release_date') %>

    <%= render partial: 'layouts/forms/fields/date',
               locals: {f: f, attribute: :end_date} if @form.record.respond_to?('end_date') %>

    <%= render partial: 'layouts/forms/fields/select',
               locals: {f: f, attribute: :status, choices: Album::Status} if @form.record.respond_to?('status')  %>

    <%= render partial: 'layouts/forms/fields/select',
               locals: {f: f, attribute: :db_status, choices: Artist::DatabaseStatus} if @form.record.respond_to?('db_status') %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :classification} if @form.record.respond_to?('classification') %>

    <%= render partial: 'layouts/forms/fields/select',
               locals: {f: f, attribute: :activity, choices: @form.record.class::Activity} if @form.record.respond_to?('activity') %>

    <%= render partial: 'layouts/forms/fields/select',
               locals: {f: f, attribute: :category, choices: @form.record.class::Categories} if @form.record.respond_to?('category') %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :track_number} if @form.record.respond_to?('track_number') %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :disc_number} if @form.record.respond_to?('disc_number') %>

    <%= render partial: 'layouts/forms/fields/text_field',
               locals: {f: f, attribute: :length} if @form.record.respond_to?('length') %>

    <% if @form.record.respond_to?('references') %>
      <div>
        <%= f.fields_for :references do |c| %>
          <div>
            <%= c.label :site_name, 'Reference Link:' %>
            <%= c.hidden_field :id %>
            <%= c.select :site_name, Reference::SiteNames, include_blank: true %>
            <%= c.text_field :url, class: 'input-xlarge' %>
            <%= c.check_box :_destroy %>
            <%= c.label :_destroy, 'Remove' %>
          </div>
        <% end %>
        <p><%= link_to_add_fields 'Add a Reference', f, :reference %></p>
      </div>
    <% end %>

    <% if @form.record.respond_to?('album_events') %>
      <div>
        <%= f.fields_for :album_events do |c| %>
          <% unless c.object.event.nil? || c.object.album.nil? %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'album_id' %>
              <%= c.hidden_field 'event_id' %>
              <%= link_to language_helper(c.object.event,:name), c.object.event if @form.record.class == Album  %>
              <%= link_to language_helper(c.object.album,:name), c.object.album if @form.record.class == Event %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Album', f, :album_events,
                                  klass: AlbumEvent, source: @form.record,
                                  target: :album if @form.record.class == Event %>
          <%= link_to_add_fields 'Add an Event', f, :album_events,
                                 klass: AlbumEvent, source: @form.record,
                                 target: :event if @form.record.class == Album %></p>
      </div>
    <% end %>

    <%= render partial: 'layouts/forms/fields/date',
               locals: {f: f, attribute: :debut_date} if @form.record.respond_to?('debut_date') %>

    <%= render partial: 'layouts/forms/fields/date',
               locals: {f: f, attribute: :birth_date} if @form.record.respond_to?('birth_date') %>

    <%= render partial: 'layouts/forms/fields/date',
               locals: {f: f, attribute: :established} if @form.record.respond_to?('established') %>

    <% if @form.record.respond_to?('images') %>
      <div>
        <%= f.fields_for :images do |c| %>
          <div>
            <%= c.hidden_field :id %>
            <%= c.hidden_field :name %>
            <%= link_to c.object.name, images_path_helper(@form.record,c.object), remote: true %>
            <%= c.label :name, c.object.name %>
            <%= c.check_box :_destroy %>
            <%= c.label :_destroy, 'Remove' %>
          </div>
        <% end %>
        <div>
          <%= f.label :new_images, 'Upload Images' %>
          <%= f.file_field :new_images, multiple: true %>
        </div>
      </div>
    <% end %>

    <% if @form.record.respond_to?('tags') %>
      <div>
        <%= f.fields_for :taglists do |c| %>
          <% unless c.object.tag_id.blank? %>
            <div>
              <%= c.label :id, "#{c.object.tag.internal_name} Tag:" %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field :tag_id %>
              <%= c.check_box :_destroy %>
              <%= c.label :_destroy, 'Remove' %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add a Tag', f, :taglist %></p>
      </div>
    <% end %>

    <% if @form.record.respond_to?('info_translations') %>
      <div>
        <%= f.fields_for :translations do |c| %>
          <% unless c.object.info.blank? %>
            <div>
              <%= c.hidden_field :locale %>
              <%= c.label :info, "#{c.object.locale} info:" %>
              <%= c.text_area :info %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add a Language for info ', f, :translation,
                                  klass: @form.record.class::Translation, fields: [:info], text_area: true %></p>
      </div>
    <% end %>

    <% if @form.record.respond_to?('lyrics_translations') %>
      <div>
        <%= f.fields_for :translations do |c| %>
          <% unless c.object.lyrics.blank? %>
            <div>
              <%= c.hidden_field :locale %>
              <%= c.label :lyrics, "#{c.object.locale} lyrics:" %>
              <%= c.text_area :lyrics %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add a Language for lyrics ', f, :translation,
                                  klass: @form.record.class::Translation, fields: [:lyrics], text_area: true %></p>
      </div>
    <% end %>

    <%= render partial: 'layouts/forms/fields/text_area',
               locals: {f: f, attribute: :synopsis} if @form.record.respond_to?('synopsis') %>

    <%= render partial: 'layouts/forms/fields/text_area',
               locals: {f: f, attribute: :plot_summary} if @form.record.respond_to?('plot_summary') %>

    <% if @form.class == AlbumForm %>
      <div>
        <%= f.fields_for :song_forms do |c| %>
          <% unless c.object.record.nil? %>
            <div>
              <%= c.fields_for :record do |s| %>
                <div>
                  <%= s.hidden_field :id %>
                  <%= s.label :internal_name, 'I. Name' %>
                  <%= s.text_field :internal_name %>
                  <%= s.label :synonyms, 'Syn:' %>
                  <%= s.text_field :synonyms %>
                  <%= s.label :disc_number, 'Disc #:' %>
                  <%= s.text_field :disc_number, class: 'input-xmini' %>
                  <%= s.label :track_number, 'Track #:' %>
                  <%= s.text_field :track_number, class: 'input-xmini' %>
                  <%= s.label :length, 'Length' %>
                  <%= s.text_field :length, class: 'input-xmini' %>
                  <%= s.label :id, 'ID:' %><%= s.object.id %>
                </div>
              <% end %>
            </div>
            <%= render partial: 'layouts/forms/fields/select', locals: {f: c, attribute: :status, choices: Album::Status}  %>
            <%= render partial: 'layouts/forms/fields/text_area', locals: {f: c, attribute: :private_info} %>
            <%= render partial: 'layouts/forms/fields/text_area',locals: {f: c, attribute: :namehash} %>
            <div>
              <%= c.fields_for :translations do |s| %>
                <% unless s.object.name.blank? %>
                  <div>
                    <%= s.hidden_field :locale %>
                    <%= s.label :name, "#{s.object.locale} name:"  %>
                    <%= s.text_field :name  %>
                  </div>
                <% end %>
              <% end %>
              <p><%= link_to_add_fields 'Add a Language for name ', c, :translation, klass: Song::Translation, fields: [:name] %></p>
            </div>
            <div>
              <%= c.fields_for :translations do |s| %>
                <% unless s.object.lyrics.blank? %>
                  <div>
                    <%= s.hidden_field :locale %>
                    <%= s.label :lyrics, "#{s.object.locale} lyrics:"  %>
                    <%= s.text_area :lyrics  %>
                  </div>
                <% end %>
              <% end %>
              <p><%= link_to_add_fields 'Add a Language for lyrics ', c, :translation, klass: Song::Translation, fields: [:lyrics] %></p>
            </div>
            <div>
              <%= c.fields_for :artist_songs do |s| %>
                <% unless s.object.artist.nil? || s.object.song.nil? %>
                  <div>
                    <%= s.hidden_field :id %>
                    <%= s.hidden_field 'artist_id' %>
                    <%= s.hidden_field 'song_id' %>
                    <%= link_to language_helper(s.object.artist, :name), s.object.artist %>
                    <% categories = Artist.get_credits(s.object.category) %>
                    <% Artist::Credits.each_with_index do |credit, n| %>
                      <%= check_box_tag("#{s.object_name}[category][]", credit, categories.include?(credit)) %>
                      <%= Artist::CreditsAbbr[n] %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <p><%= link_to_add_fields 'Add an Artist', c, :artist_songs,
                                        klass: ArtistSong, source: c.object.record, target: :artist %>
              </p>
            </div>
            <div>
              <%= c.fields_for :song_sources do |s| %>
                <% unless s.object.source.nil? || s.object.song.nil? %>
                  <%= s.check_box :_destroy %>
                  <%= s.hidden_field :id %>
                  <%= s.hidden_field 'source_id' %>
                  <%= s.hidden_field 'song_id' %>
                  <%= link_to language_helper(s.object.source,:name), s.object.source  %>
                  <%= s.select :classification, SongSource::Relationship %>
                  <%= s.label 'op_ed_number', '#:' %>
                  <%= s.text_field 'op_ed_number', :class => "controls input-xmini" %>
                  <%= s.label 'ep_numbers', 'Eps:' %>
                  <%= s.text_field 'ep_numbers', :class => "controls input-xmini" %>
                <% end %>
              <% end %>
              <p><%= link_to_add_fields 'Add an Source', c, :song_sources,
                                        klass: SongSource, source: c.object.record, target: :source %>
              </p>
            </div>





          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add a Song', f, :artist_albums,
                                  klass: ArtistAlbum, source: @form.record,
                                  target: :artist if @form.class == AlbumForm %>
        </p>
      </div>
    <% end %>

  </div>

  <div class="col-md-6">

    <% if @form.record.respond_to?("related_#{@form.record.model_name.singular}_relations") %>
      <div>
        <%= f.fields_for :self_relations do |c| %>
          <% unless c.object.send("#{@form.record.model_name.singular}1").nil? || c.object.send("#{@form.record.model_name.singular}2").nil?  %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field "#{@form.record.model_name.singular}1_id" %>
              <%= c.hidden_field "#{@form.record.model_name.singular}2_id" %>
              <%= link_to  language_helper(c.object.send("#{@form.record.model_name.singular}1"),:name), c.object.send("#{@form.record.model_name.singular}1")  %>
              <%= c.select :category, @form.record.class::SelfRelationships %>
              <%= link_to language_helper(c.object.send("#{@form.record.model_name.singular}2"), :name), c.object.send("#{@form.record.model_name.singular}2") %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields "Add a Related #{@form.record.model_name}", f, :self_relations,
                                  klass: "Related#{@form.record.model_name}s".constantize,
                                  source: @form.record %></p>
      </div>
    <% end %>

    <% if @form.record.respond_to?('artist_organizations') %>
      <div>
        <%= f.fields_for :artist_organizations do |c| %>
          <% unless c.object.artist.nil? || c.object.organization.nil? %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'artist_id' %>
              <%= c.hidden_field 'organization_id' %>
              <%= link_to language_helper(c.object.artist,:name), c.object.artist if @form.record.class == Organization  %>
              <%= link_to language_helper(c.object.organization,:name), c.object.organization if @form.record.class == Artist  %>
              <%= c.select :category, ArtistOrganization::Categories %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Artist', f, :artist_organizations,
                                  klass: ArtistOrganization, source: @form.record,
                                  target: :artist if @form.record.class == Organization %>
          <%= link_to_add_fields 'Add an Organization', f, :artist_organizations,
                                 klass: ArtistOrganization, source: @form.record,
                                 target: :organization if @form.record.class == Artist %></p>
      </div>
    <% end %>

    <% if @form.class == SourceForm %>
      <div>
        <%= f.fields_for :source_organizations do |c| %>
          <% unless c.object.source.nil? || c.object.organization.nil? %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'source_id' %>
              <%= c.hidden_field 'organization_id' %>
              <%= link_to language_helper(c.object.source,:name), c.object.source if @form.record.class == Organization  %>
              <%= link_to language_helper(c.object.organization,:name), c.object.organization if @form.record.class == Source  %>
              <%= c.select :category, SourceOrganization::Categories %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Organization', f, :source_organizations,
                                  klass: SourceOrganization, source: @form.record,
                                  target: :organization if @form.record.class == Source %>
        </p>
      </div>
    <% end %>

    <% if @form.class == AlbumForm %>
      <div>
        <%= f.fields_for :artist_albums do |c| %>
          <% unless c.object.artist.nil? || c.object.album.nil? %>
            <div>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'artist_id' %>
              <%= c.hidden_field 'album_id' %>
              <%= link_to language_helper(c.object.artist,:name), c.object.artist  %>
              <% categories = Artist.get_credits(c.object.category) %>
              <% Artist::Credits.each_with_index do |credit, n| %>
                <%= check_box_tag("#{c.object_name}[category][]", credit, categories.include?(credit))  %>
                <%= Artist::CreditsAbbr[n] %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Artist', f, :artist_albums,
                                  klass: ArtistAlbum, source: @form.record,
                                  target: :artist if @form.class == AlbumForm %>
        </p>
      </div>
    <% end %>

    <% if @form.class == SongForm %>
      <div>
        <%= f.fields_for :artist_songs do |c| %>
          <% unless c.object.artist.nil? || c.object.song.nil? %>
            <div>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'artist_id' %>
              <%= c.hidden_field 'song_id' %>
              <%= link_to language_helper(c.object.artist, :name), c.object.artist %>
              <% categories = Artist.get_credits(c.object.category) %>
              <% Artist::Credits.each_with_index do |credit, n| %>
                <%= check_box_tag("#{c.object_name}[category][]", credit, categories.include?(credit)) %>
                <%= Artist::CreditsAbbr[n] %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Artist', f, :artist_songs,
                                  klass: ArtistSong, source: @form.record,
                                  target: :artist if @form.class == SongForm %>
        </p>
      </div>
    <% end %>

    <% if @form.class == AlbumForm %>
      <div>
        <%= f.fields_for :album_sources do |c| %>
          <% unless c.object.source.nil? || c.object.album.nil? %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'source_id' %>
              <%= c.hidden_field 'album_id' %>
              <%= link_to language_helper(c.object.source, :name), c.object.source if @form.record.class == Album %>
              <%= link_to language_helper(c.object.album, :name), c.object.album if @form.record.class == Source %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Source', f, :album_sources,
                                  klass: AlbumSource, source: @form.record,
                                  target: :source if @form.record.class == Album %>
        </p>
      </div>
    <% end %>

    <% if @form.class == SongForm %>
      <div>
        <%= f.fields_for :song_sources do |c| %>
          <% unless c.object.source.nil? || c.object.song.nil? %>
            <%= c.check_box :_destroy %>
            <%= c.hidden_field :id %>
            <%= c.hidden_field 'source_id' %>
            <%= c.hidden_field 'song_id' %>
            <%= link_to language_helper(c.object.source,:name), c.object.source  %>
            <%= c.select :classification, SongSource::Relationship %>
            <%= c.label 'op_ed_number', '#:' %>
            <%= c.text_field 'op_ed_number', :class => "controls input-xmini" %>
            <%= c.label 'ep_numbers', 'Eps:' %>
            <%= c.text_field 'ep_numbers', :class => "controls input-xmini" %>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Source', f, :song_sources,
                                  klass: SongSource, source: @form.record,
                                  target: :source if @form.record.class == Song %>
        </p>
      </div>
    <% end %>

    <% if @form.class == AlbumForm %>
      <div>
        <%= f.fields_for :album_organizations do |c| %>
          <% unless c.object.organization.nil? || c.object.album.nil? %>
            <div>
              <%= c.check_box :_destroy %>
              <%= c.hidden_field :id %>
              <%= c.hidden_field 'organization_id' %>
              <%= c.hidden_field 'album_id' %>
              <%= link_to language_helper(c.object.organization, :name), c.object.organization if @form.record.class == Album %>
              <%= link_to language_helper(c.object.album, :name), c.object.album if @form.record.class == Organization %>
              <%= c.select :category, AlbumOrganization::Categories %>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to_add_fields 'Add an Organization', f, :album_organizations,
                                  klass: AlbumOrganization, source: @form.record,
                                  target: :organization if @form.record.class == Album %>
        </p>
      </div>
    <% end %>

    <%= render partial: 'layouts/forms/fields/text_area',
               locals: {f: f, attribute: :namehash} if @form.record.respond_to?('namehash') %>

    <%= render partial: 'layouts/forms/fields/text_area',
               locals: {f: f, attribute: :private_info} if @form.record.respond_to?('private_info') %>

  </div>

  <div class="actions submit"><%= f.submit "Submit" %></div>

<% end %>