<%= paginate albums, param_name: :album_page, remote: true %>
<% albums.each do |album| %>
  <div class="album">
    <div class="album_art"><%= primary_image_helper(album, album, 'thumb', nil_image: true, square: true)%></div>
    <div class="album_name">
      <%= link_to name_language_helper(album, current_user, 0), album %>
      <div class="tags"><%= linked_attribute_display(album.tags, "") %></div>
    </div>
    <div class="album_date"><%= date_helper(album, 'release_date', :calender_link => false)%></div>
  </div>
<% end %>
<%= paginate albums, param_name: :album_page, remote: true %>
