<% if records.nil? || records.empty? %>
  <div class="no-records">
    <% if @type.nil? %>
      Sorry, there were no results <%= "under #{@model}s" unless @model.nil? %>
    <% else %>
      No albums/songs are in this collection. <%= "Find some albums or songs to add!" if @type == "collected" && @user == current_user%>
    <% end%>
  </div> 
<% else %>
  <% if @model.nil? == false %>
    <%= paginate records, remote: true, param_name: "#{@model}_page", :params => {model: @model} %>
  <% elsif @type.nil? == false %>
    <%= paginate records, remote: true, :params => {type: @type} %>
  <% else %>
    <%= paginate records %>
  <% end %>
  <% if records.first.class == Album || records.first.class == Song %>
    <div class="record-container">
      <div class="album">
        <div class="image">Album Cover</div>
        <div class="name album-name">Title</div>
        <div class="date">Release Date</div>
      </div>
    </div>
  <% else %>
    <div class="record-container">
      <div class="<%= records.first.class.to_s.downcase %>">
        <div class="name"><%= records.first.class == Source ? "Title" : "Name" %></div>
        <div class="albums">Albums</div>
      </div>
    </div>
  <% end %>
    <% records.each do |record| %>
      <% if record.class == Album %>
        <div class="record-container">
          <div class="<%= record.class.to_s.downcase %>">
            <div class="image"><%= primary_image_helper(record, record, "thumb", :square => true, :outline => true) %></div>
            <div class="name album-name">
              <h4><%= link_to language_helper(record, :name), record %></h4>
              <div class="tags"><%= linked_attribute_display(record.tags, '') %></div>
            </div>
            <div class="date"><%= date_helper(record, 'release_date', :calendar_link => false)%></div>
          </div>
        </div>
      <% elsif record.class == Song %>
        <div class="record-container">
          <div class="<%= record.class.to_s.downcase %>">
            <% if record.album.nil? %>
              <div class="image"><%= primary_image_helper(record, record, "thumb", :square => true, :outline => true) %></div>
              <div class="name song-name">
                <h4><%= link_to language_helper(record, :name), record %></h4>
                <div class="tags"><%= linked_attribute_display(record.tags, '') %></div>          
              </div>
              <div class="date"></div>
            <% else %>
              <div class="image"><%= primary_image_helper(record.album, record.album, "thumb", :square => true, :outline => true) %></div>
              <div class="name song-name">
                <h4><%= link_to "#{record.disc_track_number unless record.track_number.nil?} #{language_helper(record, :name)}", record.album %></h4>
                <h5>Album: <%= link_to language_helper(record.album, :name), record.album %></h5>        
                <h5><%= "Duration: #{record.length_as_time}" unless record.length.nil? || record.length == 0 %></h5>
                <div class="tags"><%= linked_attribute_display(record.tags, '') %></div>          
              </div>
              <div class="date"><%= date_helper(record.album, 'release_date', :calendar_link => false)%></div>    
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="record-container">
          <div class="<%= record.class.to_s.downcase %>">
            <div class="name">
              <h4><%= link_to language_helper(record, :name), record %></h4>
              <div class="tags"><%= linked_attribute_display(record.tags, '') %></div>
            </div>
            <div class="albums">
              <div class="album-images">
                <% if record.albums.count > 5 %>
                  <% record.albums.order(:release_date).last(5).reverse.each do |album| %>
                    <div><%= primary_image_helper(album, album, "thumb", :outline_flag => true, :square => true) %>
                    </div>
                  <% end %>  
                  <div class="album-extra-count">
                    <%= link_to "+#{record.albums.count - 5}", record %>   
                  </div>     
                <% else %>
                  <% record.albums.order(:release_date).each do |album| %>
                    <div><%= primary_image_helper(album, album, "thumb", :outline_flag => true, :square => true) %></div>
                  <% end %>    
                <% end %>
              </div>
            </div>
          </div>
        </div>      
      <% end %>
    <% end %>
  <% if @model.nil? == false %>
    <%= paginate records, remote: true, param_name: "#{@model}_page", :params => {model: @model} %>
  <% elsif @type.nil? == false %>
    <%= paginate records, remote: true, :params => {type: @type} %>
  <% else %>
    <%= paginate records %>
  <% end %>
<% end %>
