<% content_for :title do %><%= "#{@user.name}'s Collection" %><% end %>

<% content_for :header do %>
  <div class="text-center">    
    <h2><%= current_user == @user ? "Your" : "#{@user.name}'s" %> Collection</h2>
  </div>
<% end %>

<div id="collection">
  <ul id="collection-tabs" class="nav nav-tabs">
    <% ["collected", "ignored", "wishlisted"].each do |type| %>
      <li class='<%= "#{type} #{'active' if @type == "#{type}"}" %>'><%= link_to "#{type} (#{@counts[type.to_sym]})".titleize, collection_user_path(type: type), remote: true %></li>
    <% end %>
  </ul>
  <div id="index">
    <%= render :partial => 'layouts/primary_models/record_list', locals: {records: @records}%>
  </div>
</div>