<% content_for :title do %><%= (current_user == @user or privacy_settings(@user).include? "ShowCollection" ) ? "#{@user.name}'s Collection"  : "A Collection" %><% end %>

<% content_for :header do %>
  <div class="text-center">    
    <% if current_user == @user or privacy_settings(@user).include? "ShowCollection"  %>
      <h2><%= current_user == @user ? "Your" : "#{@user.name}'s" %> Collection</h2>
    <% else %>
       <h2>Some User's Collection</h2>
    <% end %>
  </div>
<% end %>

<% if current_user == @user or privacy_settings(@user).include? "ShowCollection"  %>
  <%= render 'layouts/albums', :divid => 'Collection', :header => 'Collected Albums', :collection => @collection %>
  <%= render 'layouts/albums', :divid => 'Wishlist', :header => 'Wishlist Albums', :collection => @wishlist %>
  <%= render 'layouts/albums', :divid => 'Ignorelist', :header => 'Ignored Albums', :collection => @ignorelist %>
<% else %>
  <h4 class="text-center">This collection has been set to private</h4>
<% end%>


<% content_for :usersidebar do %>

<% end %>
