<% content_for :title do %>Edit Profile- <%= @user.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit Profile: <%= @user.name %></h1>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<% if current_user == @user %>
  <%= form_for(@user, :url=> "update_profile" ) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
      <div class="actions text-center">
        <%= f.submit %>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <h3 class="text-center">Display Settings</h3>
            <%= fields_for :displaysettings do |f| %>
              <%= f.label '', "Show NWS?", :class => "control-label" %>
              <%= f.select '', [['Show', 'DisplayNWS'],['Hide', '']], :selected => @displayhash[:nws], :class => "controls input-large" %>
            <% end %><br>
            <%= fields_for :displaysettings do |f| %>
              <%= f.label '', "Show Limited Editions/Reprints/Alternate Printings?", :class => "control-label" %>
              <%= f.select '', [['Show', 'DisplayLEs'],['Hide', '']], :selected => @displayhash[:les], :class => "controls input-large" %>
            <% end %><br>
            <%= fields_for :displaysettings do |f| %>
              <%= f.label '', "Display Ignored Albums?", :class => "control-label" %>
              <%= f.select '', [['Show', 'DisplayIgnored'],['Hide', '']], :selected => @displayhash[:ignored], :class => "controls input-large" %>
            <% end %> <br>  
            <%= fields_for :displaysettings do |f| %>
              <%= f.label '', "Use collection info to outline album art?", :class => "control-label" %>
              <%= f.select '', [['Colored Border', 'AlbumArtOutline'],['No thanks', '']], :selected => @displayhash[:albumart], :class => "controls input-large" %>
            <% end %>    
            <%= fields_for :displaysettings do |f| %>
              <%= f.label '', "Bold Watched Artists/Sources/Organizations?", :class => "control-label" %>
              <%= f.select '', [['Bold', 'Bolding'],['No thanks', '']], :selected => @displayhash[:bold], :class => "controls input-large" %>
            <% end %>    
            <% if can? :edit, Artist %>
              <%= fields_for :displaysettings do |f| %>
                <%= f.label '', "Edit Mode?", :class => "control-label" %>
                <%= f.select '', [['Yes', 'EditMode'],['No thanks', '']], :selected => @displayhash[:editmode], :class => "controls input-large" %>
              <% end %>    
            <% end%>                       
          </div> 
          <div class="well">
            <h3 class="text-center">Privacy Settings</h3>
            <%= fields_for :privacysettings do |f| %>
              <%= f.label '', "Allow others to view your watchlist?", :class => "control-label" %>
              <%= f.select '', [['Show watchlist', 'ShowWatchlist'],['No Thanks!', '']], :selected => @privacyhash[:watchlist], :class => "controls input-large" %>
            <% end %><br>
            <%= fields_for :privacysettings do |f| %>
              <%= f.label '', "Allow others to view your collection?", :class => "control-label" %>
              <%= f.select '', [['Show Collection', 'ShowCollection'],['No Thanks!', '']], :selected => @privacyhash[:collection], :class => "controls input-large" %>
            <% end %>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="well">
            <h4 class="text-center">Tracklist Export Defaults</h4>   
            <% Album::TracklistOptions.each do |k,v| %>
              <%= check_box_tag 'tracklist_export_settings[]', k, @user.tracklist_settings.include?(k.to_s) %> <%= v %><br>
            <% end %>      
          </div>  
        </div>
        <div class="col-md-4">
          <div class="well">
            <h3 class="text-center">Language Settings</h3>
            <h5 class="text-center">Drag and drop the languages into the preferred order you'd like to see them. There is a separate preference for artist/organization names.</h5>
            Album, Song, and Source Material names
            <ul id="languages" class="languageselect">
              <% @languages.each do |language| %>
                <li class="languagelist">
                  <span id="<%= language %>" class="label label-default"><%= languagehelper(language) %></span>
                  <%= hidden_field_tag 'languagesettings[]', language %>
                </li>
              <% end %>
            </ul>
            Artist and Organization names
            <ul id="artistlanguages" class="languageselect">
              <% @artistlanguages.each do |language| %>
                <li class="languagelist">
                  <span id="<%= language %>" class="label label-default"><%= languagehelper(language) %></span>
                  <%= hidden_field_tag 'artistlanguagesettings[]', language %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="actions text-center">
        <%= f.submit %>
      </div>           
  <% end %>
<% else %>
  <h4 class="text-center">This isn't your profile!</h4>
<% end %>


