<% content_for :title do %>Edit Security - <%= @user.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit Security: <%= @user.name %></h1>
  </div>
<% end %>


<%= form_for(@user, :url=> "update_security") do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul><% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %></ul>
    </div>
  <% end %>
    <%= f.label :security %>
    <% (Ability::Abilities - ["Any"]).each do |ability| %>
      <%= check_box_tag "user[abilities][]", ability, @user.abilities.include?(ability) %> <%= ability %><br>
    <% end %>    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>