<% content_for :title do %>Register<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Register</h1>
  </div>
<% end %>


<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4>Registration Unsuccessful:</h4>

      <ul>
      <% @cleaned_errors = @user.errors.to_hash.except!(:crypted_password, :password_salt) %>
      <% @cleaned_errors.each do |k,v| %>
        <% v.uniq.each do |error| %>
          <li><%= "#{k.to_s.humanize.capitalize} #{error}" %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, "Username: ", :class => "control-label"  %>
      <%= f.text_field :name, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :email, "Email: ", :class => "control-label" %>
      <%= f.text_field :email, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :password, "Password: ", :class => "control-label" %>
      <%= f.password_field :password, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, "Password Confirmation: ", :class => "control-label" %>
      <%= f.password_field :password_confirmation, :class => "controls input-medium" %>
    </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

