<% content_for :title do %>Register<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Register</h1>
  </div>
<% end %>


<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :name, :class => "control-label"  %>
      <%= f.text_field :name, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <%= f.text_field :email, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <%= f.password_field :password, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label" %>
      <%= f.password_field :password_confirmation, :class => "controls input-medium" %>
    </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

