<% content_for :title do %>Password Reset<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Reset Password</h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<% if notice.nil? || notice.starts_with?('Thank you!') == false %>
  <h5>Please enter your email to request a password reset</h5>
  <%= form_for :website, :url => {:controller => :users, :action => 'passwordresetrequest'}, :html => {:class => 'form-horizontal'}  do |f| %>
    <%= fields_for :email do |f| %>
      <%= f.label '', 'Email:' %>
      <%= f.text_field '', :class => 'controls' %>
    <% end %>
    <%= f.submit 'Submit' %>
  <% end %>
<% end %>
