<% content_for :title do %>Password Reset<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Reset Password</h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<%= form_for(@user, :url => 'passwordreset') do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <%= f.password_field :password, :class => "controls input-medium" %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <%= f.password_field :password_confirmation, :class => "controls input-medium" %>
  </div>
  <%= f.hidden_field :token, :value => @token %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>