<% content_for :title do %>Season - <%= @user.name %><% end %>


<% content_for :header do %>
  <div class="text-center">
    <h2></h1>
    <h1><%= @user.name %></h1> 
  </div>
<% end %>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
