<% content_for :title do %><%= @user.name %>'s Watchlist<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= current_user == @user ? "Your" : "#{@user.name}'s" %> Watchlist</h2>
    <div class="sublink">
      <% if current_user == @user %>
          Manage your watchlist <%= link_to "here", watchlist_edit_user_path(:id => current_user.id) %>
      <% end %>      
    </div>
  </div>
<% end %>

<% content_for :left_sidebar do %>
    <%= render :partial => 'layouts/grid/selection_sidebar', :locals =>  {:collection => @watched}%>
<% end %>

<% if current_user == @user || privacy_settings(@user).include?("ShowWatchlist") %>
  <%= render :partial => 'layouts/grid/album_area', :locals => {:sort => "year"} %>  
<% end %>

<% content_for :right_sidebar do %>
  <%= render :partial => 'layouts/grid/filter_sort_sidebar' %>
<% end %>

