<% content_for :title do %>Edit - <%= @user.name %>'s Watchlist<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Edit <%= @user.name %>'s Watchlist</h1>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<% if current_user == @user %>
  <%= form_for('watchlist_edit', :url => "update_watchlist", :method => 'put' ) do |f|  %>
    <div class="actions text-center">
      <%= f.submit "Save Changes" %>
    </div>
    <div id="groupings" class="row">
      <% @watched.each_with_index do |(k,v),n| %>
        <%= f.fields_for n.to_s  do |form| %>
          <div id="<%= n.to_s %>" class="grouping well xsmall col-md-2 text-center">
            <% if k.nil? %>
              <h4>Unsorted</h4>
            <% else %>
              <%= form.text_field 'name', :value => k, :class => "watchlist-form" %>
              <%= form.check_box 'order', :value => true, :checked => true %> Keep Order?
            <% end %>
            <div class="sortableGroup">
                <% v.each do |record| %>          
                  <div class="sortablerecord">
                    <div>
                    <%= name_language_helper(record.watched,current_user,0, :no_bold => true) %>
                    <%= hidden_field_tag '[watchlist_edit][' + n.to_s + '][records][]', record.id, :id => "ID" + record.id.to_s %>
                    </div>
                  </div>      
                <% end%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h4 class="text-center">This isn't yours!</h4>
<% end %>

<% content_for :usersidebar do %>
  <%= button_to "Add New Grouping", add_grouping_path, :method => "get", :remote => true  %>
<% end %>