<% content_for :title do %><%= @user.name %>'s Watchlist<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= @user.name %>'s Watchlist</h1>
  </div>
<% end %>

<% if current_user == @user || privacy_settings(@user).include?("ShowWatchlist") %>
  <%= render :partial => 'layouts/albumlist/albumlist_sidebar', :locals => {:collection  => @watched}  %>  
<% end %>

<% content_for :usersidebar do %>
  <% if current_user == @user%>
    <%= link_to "Edit Watchlist Groupings", watchlist_edit_user_path(:id => current_user.id) %>
  <% end %>
  <%= render :partial => 'layouts/albumlist/albumlist_sorts'%>
  <%= render :partial => 'layouts/albumlist/albumlist_filters'%>
<% end %>
