<% content_for :title do %><%= @record.class == Post ? "Post #{@record.id}" : language_helper(@record, :name, highlight: false)  %><%= @record.class == Album ? " Album Art" : " Images" %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= link_to language_helper(@record, :name, highlight: false), @record  %></h2>
    <h4><%= @record.class == Album ? "Album Art" : "Images" %></h4>
  </div>
<% end %>

<%= render :partial => "layouts/images/image_partial", :locals => {:record => @record}  %>

<% content_for :right_sidebar do %>
  <%= render :partial => "layouts/images/image_sidebar_partial", :locals => {:record => @record}  %>
<% end %>