<% content_for :title do %>
  <%= language_helper(@record,:name, highlight: false) %>
<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= language_helper(@record,:name, highlight: false)  %></h2>
    <h4>
      <% unless language_helper(@record,:name, priority: 1) == language_helper(@record,:name) %>
        <%= language_helper(@record,:name, highlight: false, priority: 1) %>
        <% unless language_helper(@record,:name, highlight: false, priority: 2).nil? ||  language_helper(@record,:name, priority: 2) == language_helper(@record,:name, priority: 1) ||  language_helper(@record,:name, priority: 2) ==  language_helper(@record,:name)%>
          / <%= language_helper(@record,:name, highlight: false, priority: 2) %>
        <% end %>
      <% end %>
    </h4> 
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<div id="content">
  <div id="sidebar">
    <div id="PrimaryImage">
      <%= primary_image_helper(@record, images_path_helper(@record),'medium', margin: true, square: true, border: true)%>
    </div>    
    <div id="user-actions">
      <div class="panel">
        <div class="panel-heading"><%= @record.class == Album ? "Collections" : "Watchlist" %></div>
        <div class="nav nav-pills nav-stacked">
          <% if current_user.nil? %>
            <li><%= link_to "Sign in to use collections!", login_path %></li>
          <% else %>
            <%= render :partial => "layouts/primary_models/user_options", locals: {record: @record}%>
          <% end %>
        </div>
      </div>
    </div>
    <div id="attributes">
      <div class="panel">
        <div class="panel-heading">Information</div>
        <div class="panel-body info-list">
          <%= attribute_display(@record, 'status', "Status") if (can? :manage, @record.class) %>
          <%= attribute_display(@record, 'db_status', "Database Status") if (can? :manage, @record.class) && (@record.respond_to?('db_status')) %>
          <%= attribute_display(@record, "catalog_number", "Catalog Number") if @record.class == Album %>
          <%= attribute_display(@record, "release_date", "Release Date") if @record.class == Source%>
          <%= attribute_display(@record, "end_date", "End Date") if @record.class == Source%>
          <%= attribute_display(@record, "activity", "Status") if @record.class == Organization && @record.activity != "Active"%>
          <%= attribute_display(@record, "category", "Type of Organization") if @record.class == Organization%>
          <%= attribute_display(@record, "release_date", "Release Date") if @record.class == Album %>
          <%= attribute_display(@record, "established", "Established") if @record.class == Organization %>
          <% @related.each do |k,v| %><%= linked_attribute_display(v,k) %><% end %>  
          <% if @record.class == Artist && @record.artist_organizations.empty? == false %>
            <div class="info-organizations">
              <b>Organization/Label<%= @record.artist_organizations.count > 1 ? "s" : "" %>: </b>
              <% @record.artist_organizations.each do |org| %>
                <div><%= link_to language_helper(org.organization,:name), org.organization %> (<%= org.category %>)</div>
              <% end %>
            </div>
          <% end %>  
          <%= attribute_display(@artist, "debut_date", "Debut Date") if @record.class == Artist %>      
          <%= attribute_display(@artist, "birth_date", "Birthday") if @record.class == Artist %>
          <%= reference_helper(@record) %>
          <%= linked_attribute_display(@record.events, "Events") if @record.class == Album %>
          <%= linked_attribute_display(@record.seasons, "Season") if @record.class == Source%>
          <%= linked_attribute_display(@record.tags.meets_role(current_user), "Tags") %>
          <%= attribute_display(@album, "created_at", "Created at" ) if @record.class == Album && (can? :manage, Album) %>
        </div>
      </div>      
    </div>
    <% if can? :edit, @record %>
      <div id="admin-actions">
        <div class="panel">
          <div class="panel-heading">Admin Actions</div>
          <div class="nav nav-pills nav-stacked">
            <li><%= link_to 'Edit', eval("edit_" + @record.class.to_s.downcase + "_path(@record)") %></li>
            <% if @record.class == Album %>
              <li><%= link_to "Edit tracklist", edit_tracklist_album_path %></li>
            <% end %>
            <li><%= link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% if @record.class == Album %>
              <li><%= link_to 'Rescrape', rescrape_album_path, method: :post, data: { confirm: 'Rescrape: Are you sure?' }, :remote => true %></li>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div id="information">
    <% unless language_helper(@record,:info, highlight: false).blank? %>
      <div id="info" class="info">
        <h3><%= @record.class == Artist ? "Profile" : "Information" %></h3>
        <%= simple_format(language_helper(@record,:info, highlight: false)) %>
      </div>
    <% end %>
    
    <% if @record.class == Source && @record.plot_summary.nil? == false && @record.plot_summary.empty? == false %>
      <div id="plot-summary" class="info">
        <h3>Synopsis</h3>
        <%= simple_format(@record.plot_summary) %>
      </div>
    <% end %>
    
    <% if @record.class != Album && @record.class != Song && (can? :edit, @record) && @record.private_info.nil? == false && @record.private_info.empty? == false %>
      <div id="private-info" class="info">
        <h3>Private Information</h3>
        <%= simple_format(@record.private_info) %>
      </div>
    <% end %>
    
    <% if @record.class == Album || @record.class == Song %>
      <div id="credits" class="info">
	    <h3>Credits</h3>
	    <div class="info-list">
	      <% @credits.each do |k,v| %><%= linked_attribute_display(v,k)%><% end %>
	      <% if @record.class == Album %>
	    	  <% @organizations.each do |k,v| %><%= linked_attribute_display(v,k)%><% end %>
	      <% end %>
	    </div>
      </div>
      <% unless @record.sources.empty? %>
        <div id="sources" class="info">
          <h3>Source Material</h3>
          <div class="info-list">
            <%= linked_attribute_display(@record.sources, '') %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <% if @record.class == Organization && @record.artists.empty? == false %>
      <div id="artists" class="info">
        <h3>Members</h3>
        <div class="info-list">        
          <% @record.artist_organizations.group_by(&:category).each do |k,v| %>
            <%= linked_attribute_display(v.map {|e| e.artist},k.pluralize)%>          
          <% end %>
        </div>
      </div>
    <% end %>
    
    <% if [Artist, Organization, Source].include?(@record.class) %>
      <div id="albums" class="info">
        <h3>Albums (<%= @record.albums.filter_by_user_settings(current_user).count %>) <%= "(#{@record.albums.count - @record.albums.filter_by_user_settings(current_user).count} Hidden)" unless @record.albums.filter_by_user_settings(current_user).count == @record.albums.count %> </h3>
        <% unless @record.albums.empty? %>
          <div id="albums-list">
            <%= render :partial =>  'layouts/primary_models/album_list', :locals => {:albums => @albums } %>
          </div>
        <% else %>
          <%= "This #{@record.class.to_s.downcase} has no albums" %>
        <% end %>
      </div>
    <% end %>
    
    <% if @record.class == Album && @record.songs.empty? == false %>
      <div id="tracklist" class="info">
        <h3>Tracklist</h3>
        <% @record.songs.each do |song| %>
          <div class="song" id="song-<%= song.id %>">
            <div class="track_number"><%= song.disc_track_number %></div>
            <div class="track_name"><%= language_helper(song,:name) %></div>
            <div class="track_length"><%= song.length_as_time %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
