<% content_for :title do %>Events<% end %>

<% content_for :header do %>
  <h2 class="text-center">Events</h2>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Altname</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Abbreviation</th>
    <th>Info</th>
    <th>Shorthand</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.altname %></td>
    <td><%= event.startdate %></td>
    <td><%= event.enddate %></td>
    <td><%= event.abbreviation %></td>
    <td><%= event.info %></td>
    <td><%= event.shorthand %></td>
    <td><%= reference_helper(event) %></td>
    <td><%= link_to 'Show', event %></td>
    <% if can? :update, event %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% end %>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
