<% content_for :title do %>Events<% end %>

<% content_for :header do %>
  <h2 class="text-center">Events</h2>
<% end %>

<div id="events">
  <% @events.group_by {|e| e.start_date.nil? ? 0 : e.start_date.year}.sort.reverse.each do |year| %>
    <div class="year">
      <h2><%= year[0] == 0 ? "No Year" : year[0] %></h2>
      <% year[1].each do |event|%>
        <div class="event">
          <%= link_to(event) do %>
            <div class="name">
              <h4><%= language_helper(event, :name, highlight: false)  %></h4>
            </div>
            <div class="date">
              <%= "#{event.start_date.strftime('%B')} #{event.start_date.day}" unless event.start_date.nil? || event.end_date.nil?%><%= " to #{event.end_date.strftime('%B')} #{event.end_date.day}" unless event.end_date.nil? || event.end_date == event.start_date %>
            </div>
            <div class="albums">
              <%= pluralize(event.albums.count, 'album') %>
            </div>
            <% if event.db_status != "Up to Date" && current_user.abilities.include?("Database Manager")%>
              <div>
                <strong>Not Up To Date</strong>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>      
    </div>

  <% end %>
</div>
