<% content_for :title do %>Events<% end %>

<% content_for :header do %>
  <h2 class="text-center">Events</h2>
<% end %>

<div id="events">
  <% @events.sort.reverse.each do |year| %>
    <div class="year">
      <h2><%= year[0] == 0 ? "No Year" : year[0] %></h2>
      <% year[1].each do |event|%>
        <div class="event">
          <%= link_to(event) do %>
            <div class="name">
              <h4><%= event.name_helper("abbreviation", "name", "shorthand", "altname") %></h4>
            </div>
            <div class="date">
              <%= "#{event.start_date.strftime('%B')} #{event.start_date.day}" unless event.start_date.nil? || event.end_date.nil?%><%= " to #{event.end_date.strftime('%B')} #{event.end_date.day}" unless event.end_date.nil? || event.end_date == event.start_date %>
            </div>
            <div class="albums">
              <%= "#{event.albums.count} albums" %>
            </div>
          <% end %>
        </div>
      <% end %>      
    </div>

  <% end %>
</div>
