<% content_for :title do %><%= @event.name %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= @event.name %> (<%= @event.shorthand%>)</h1>
    <h4><%= @event.abbreviation %></h3> 
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div id="Attributes" class="well">
    <p>
      <b>Dates:</b>
      <%= @event.startdate %> - <%= @event.enddate %>
    </p>

    <%= reference_helper(@event) %>  
  </div>
  <%= render 'layouts/albums', :divid => 'Albums', :header => 'Albums', :collection => @event.album_events %>
</div>

<% content_for :usersidebar do %>
  <% if can? :edit, Event %>
    <%= link_to 'Edit', edit_event_path(@event) %>
  <% end %>
<% end %>


