<div class="well well-xsmall">
  <% @credits.each do |k,v| %>
    <%= linked_attribute_display(v,k)%>
  <% end %>
  <% if @song.song_sources.empty? == false%>
    <b>Sources: </b>
    <% @song.song_sources.each do |songsource| %>
      <%= link_to name_language_helper(songsource.source,current_user,0), songsource.source %>
      <% if songsource.classification.nil? == false && songsource.classification.empty? == false && songsource.op_ed_number.nil? == false && songsource.op_ed_number.empty? == false%>
        (<%= songsource.classification + ' ' + songsource.op_ed_number %>)
      <% elsif songsource.classification.nil? == false && songsource.classification.empty? == false %>
        (<%= songsource.classification %>)
      <% end %>
      <% if songsource.ep_numbers.nil? == false && songsource.ep_numbers.empty? == false %>
        (episodes <%= songsource.ep_numbers %>)
      <% end %>
    <% end %><br>
  <% end %>
  <% @related.each do |k,v| %>
    <%= linked_attribute_display(v,k) %>
  <% end %>   
 <b>Languages:</b>
  <ul><% @song.namehash.each do |each| %>
    <li><%= each[0].to_s + ": " + each[1] %></li>
  <% end %> </ul>
  <%= linked_attribute_display(@song.tags, "Tags")%>
</div>