<% content_for :title do %>Maintenance<% end %>

<% content_for :header do %>
  <h2 class="text-center">Maintenance</h2>
<% end %>

<div>
  <div class='well text-center'>
    <%= link_to 'Scrape an Album', maintenance_new_scrape_path %><br>
    <%= link_to 'Scrape Results', maintenance_scrape_results_path %><br>
    <%= link_to 'Generate New Scrapes', maintenance_generate_urls_path %>
  </div>
  <div class='well text-center'>
    <%= link_to 'Artist Workqueue', maintenance_artist_workqueue_path %><br>
    <%= link_to 'Source Workqueue', maintenance_source_workqueue_path %><br>
    <%= link_to 'Organization Workqueue', maintenance_organization_workqueue_path %><br>
    <%= link_to 'Updated Albums', maintenance_updated_albums_path %><br>
    <%= link_to 'Limited Edition Workqueue', maintenance_le_workqueue_path %>
  </div>
  <div class='well text-center'>
    <%= link_to 'Released Review', maintenance_released_review_path %>
  </div>
</div>

<% content_for :usersidebar do %>
<% end %>

