<% content_for :title do %>Scrape<% end %>

<% content_for :header do %>
  <h2 class="text-center">Scrape!</h2>
<% end %>

<p id="notice"><%= notice %></p>
<%= form_for :website, :url => {:controller => :maintenance, :action => 'scrape'}, :html => {:class => 'form-horizontal'}  do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">VGMDB links</h4>
        <%= fields_for :vgmdb_albums do |f| %>
          <%= f.label :text, 'Album Link List:'%>
          <%= f.text_area :text, :class => 'col-md-12', :rows => '7' %>
        <% end %><br><br>
        <%= fields_for :vgmdb_artists do |f| %>
          <%= f.label '', 'Artist/Source Link:'%>
          <%= f.text_field '', :class => 'controls' %>
        <% end %><br><br>
        <%= fields_for :vgmdb_organizations do |f| %>
          <%= f.label '', 'Organization/Search Result Link:'%>
          <%= f.text_field '', :class => 'controls' %>
        <% end %><br><br>
      </div>
      <div class="actions">
        <%= f.submit 'Scrape!' %>
      </div>    
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">CDJapan links</h4>
        <%= fields_for :cdjapan_albums do |f| %>
          <%= f.label '', 'Album Link'%>
          <%= f.text_field '', :class => 'controls' %>
        <% end %>
      </div>
      <div class="well">
        <h4 class="text-center">Manifo links</h4>
        <%= fields_for :manifo_albums do |f| %>
          <%= f.label '', 'Album Link'%>
          <%= f.text_field '', :class => 'controls' %>
        <% end %>
      </div>
    </div>  
  </div>
<% end %>