<% content_for :title do %>Scrape Results - Log #<%= @log.id%><% end %>

<% content_for :header do %>
  <h2 class="text-center">Scrape Results (Log #<%= @log.id%>: <%= @albums.count %>/<%= @count %> Albums)</h2>

<% end %>
<h5>Created at: <%= @log.created_at %></h5>
<h5>Type: <%= @log.category %></h5>
<% if @log.content.include?("[End Log]") %>
  <h5><%= "End of Log found: #{@log.content.partition('[End Log]').last}"  %></h5>
<% else %>
  <h5>No End of Log found! Last 58 characters: <%= @log.content[-58..-1] %></h5>
<% end %>
<% @log_links.each do |k,log_id| %>
  <h5><%= link_to k, maintenance_scrape_results_path(:log_id => log_id) %></h5>
<% end %>

<div class='row'>
  <div class='col-md-6'>
    <div>
      <h4>Raw Content</h4>
      <%= simple_format @log.content %>
    </div>
  </div>
  <div class='col-md-6'>

    <div>
      <h4><%= "Failed URLS (Count: #{@failed_urls.count})" %></h4>
      <% if @failed_urls.blank? %>
        <h5>No Failed Urls!</h5>
      <% else %>
        <% @failed_urls.each do |failure| %>
          <h6><%= failure %></h6>
        <% end %>
      <% end %>
    </div>
    <div>
      <h4>Successful URLS</h4>
      <% if @successful_urls.blank? %>
        <h5>No Successful Urls!</h5>
      <% else %>
        <% @successful_urls.each do |success| %>
          <h6><%= success  %></h6>
        <% end %>
      <% end %>
    </div>
    <div>
      <h4><%= "Linked Albums (Count: #{@albums.count})" %></h4>
      <% @albums.each do |album| %>
        <div class="row">
          <div class="col-md-3">
            <%= primary_image_helper(album, album, "thumb", :outline_flag => true, :square => true) %>
          </div>
          <div class="col-md-9">
            <%= link_to album.internal_name, album %> (ID: <%= album.id %>)  <%= link_to "Edit", edit_album_path(album)  %><br>
            <%= album.classification %><br>
            <%= album.release_date %> <br>
            <%= link_to album.references.first.url, album.references.first.url %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




