<% content_for :title do %>Main Page<% end %>

<% content_for :header do %>
  <h2 class="text-center">Welcome</h2>
<% end %>

<div>
  <div>
    <h4>Site Stats:</h3>
    <b>Albums:</b> <%= link_to(@albumtotal, albums_path) %><br>
    <b>Artists:</b> <%= link_to(@artisttotal, artists_path) %><br>
    <b>Sources:</b> <%= link_to(@sourcetotal, sources_path) %><br>
    <b>Organizations:</b> <%= link_to(@orgtotal, organizations_path) %><br>
    <b>Songs:</b> <%= @songtotal %><br>
    <b>Images:</b> <%= @imagetotal %><br>
    <b>Number of connections:</b> <%= @relationships %>
  </div>
  <br>
  <%= link_to 'Changelog', changelog_path %><br>
  <%= link_to 'Calendar', calendar_path %><br>
  <%= link_to 'Seasonal Anime Releases', seasons_path %>
  <br>
  <br>
  <div class="well well-xsmall">
    <h4 class="text-center">6 Random Albums</h4>
    <div class="row">
    <% @albums.each do |album| %>
      <div class="col-md-2">
        <%= primary_image_helper(album, album, "medium", :outline_flag => true, :square => true) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
