<% content_for :title do %>Password Reset<% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Reset Password</h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>
<% unless @user.nil? %>
  <%= form_for(@user, :url => 'reset_password') do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h4>Password Change Unsuccessful:</h4>
  
        <ul>
        <% @cleaned_errors = @user.errors.to_hash.except!(:crypted_password, :password_salt) %>
        <% @cleaned_errors.each do |k,v| %>
          <% v.uniq.each do |error| %>
            <li><%= "#{k.to_s.humanize.capitalize} #{error}" %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <%= f.password_field :password, :class => "controls input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, :class => "control-label" %>
      <%= f.password_field :password_confirmation, :class => "controls input-medium" %>
    </div>
    <%= f.hidden_field :token, :value => @token %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  Sorry, but we could not find the associated token.
<% end %>
