<% content_for :title do %>Search Results - <%= truncate(@query, length: 65) %><% end %>

<% content_for :header do %>
  <h2 class="text-center">Search Results for <%= truncate(@query, length: 65) %></h2>
<% end %>

<div id="search">
  <ul id="search-tabs" class="nav nav-tabs">
    <% ["album", "artist", "source", "organization", "song"].each do |model| %>
      <li class="<%= "#{model} #{'active' if model == @model}" %>"><%= link_to "#{model.capitalize}s (#{instance_variable_get("@#{model}_count")})", search_path(@search.merge({:model => model})), :remote => true %></li>
    <% end %>
  </ul>
  <div id="index">
    <%unless @model.nil? %>
      <%= render :partial => 'layouts/primary_models/record_list', locals: {records: @records}%>
    <% end %>
  </div>
</div>

