<% content_for :title do %><%= @query.empty? ? "Search for all records" : "Search Results" %><% end %>

<% content_for :header do %>
  <h2 class="text-center"><%= @query.empty? ? "Search for all records" : "Search Results" %></h2>
<% end %>

<div id="search">
  <ul id="search-tabs" class="nav nav-tabs">
    <% %w(album artist source organization song).each do |model| %>
      <li class="<%= "#{model} #{'active' if model == @model}" %>"><%= link_to "#{model.capitalize}s (#{@counts[model.to_sym]})", search_path({:utf8 => params[:utf8], :search => @query}.merge({:model => model})), :remote => true %></li>
    <% end %>
  </ul>
  <div id="index">
    <%unless @model.nil? %>
      <%= render :partial => 'layouts/primary_models/record_list', locals: {records: @records}%>
    <% end %>
  </div>
</div>

