<%= form_for @album, :html => {:class => "form-horizontal"} do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="control-group">
        <%= f.label :name, "Name:", :class => "control-label" %>
        <%= f.text_field :name, :class => "controls" %>
      </div>
      <div class="control-group">
        <%= f.label :altname, "Alternate Name:", :class => "control-label" %>
        <%= f.text_field :altname, :class => "controls" %>
      </div>
      <div class="control-group">
        <%= f.label :catalognumber, "Catalog Number:", :class => "control-label"  %>
        <%= f.text_field :catalognumber, :class => "controls input-medium" %>
      </div>      
      <div class="control-group">
        <%= f.label :releasedate, "Release Date:", :class => "control-label" %> 
        <%= f.date_select :releasedate, :start_year => 1970, :include_blank => true %>
      </div>
      <div class="control-group">
        <%= f.label :status, "Status:", :class => "control-label" %>
        <%= f.select :status, Album::StatusDropdown, :include_blank => true %>
      </div>
      <div class="control-group">
        <%= f.label :classification, "Classification:", :class => "control-label" %>
        <%= f.text_field :classification, :class => "controls input-medium"  %>
      </div>
      <div id="Reference">
        <% if @album.reference.nil? == false %>
          <% @album.reference.each do |k,v| %>
            <div class="row-fluid">
                <%= fields_for 'album[reference][types]'  do |f| %>
                    <%= f.label '', "Reference Link:", :class => "control-label" %>
                    <%= f.select '', Album::ReferenceLinks, :include_blank => true, :selected => k %>       
                <% end %>
                <%= fields_for 'album[reference][links]' do |f| %>
                    <%= f.text_field '', :value => v %>
                <% end %>
            </div>
          <% end %>
        <% end %>
        <div id="ReferenceFields"></div>
        <%= link_to "Add a Reference", addreference_path(:fields_for => "album[reference]"), :remote => true %></br></br>
      </div>
      <div id="Event">
        <% if @album.events.nil? == false %>
          <% @album.events.each do |event| %>
            <div class="row-fluid">
              Event:
              <%= check_box_tag 'album[removeevents][]', event.id %>
              <%= link_to event.shorthand, event %>
            </div>
          <% end %>
        <% end %>
        <div id="EventFields"></div>
        <%= link_to "Add an Event", addmodel_path(:div_id => "#EventFields", :fields_for_names => "album[neweventshortnames]"), :remote => true %></br></br>
      </div>
      <div class="control-group">
        <%= f.label :images, "Add Images:", class: "control-label" %>
        <%= f.file_field :images, {:multiple => true} %>
      </div>   
      <div class="well">
        <h4 class="text-center">Tags</h4>
        <%= render :partial => 'tags/edit_tags', locals: {:subject => @album } %>
      </div>   
      <div class="field">
        <%= f.label :info %>
        <%= f.text_area :info, :rows => '4', class: 'col-md-12' %>
      </div>
      <div class="field">
        <%= f.label :privateinfo, "Private Info" %>
        <%= f.text_area :privateinfo, :rows => '10', class: 'col-md-12' %>
      </div>
    </div>
    <div id="Relationships" class="col-md-6">
      <div class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Albums', :toggleid => 'AlbumToggle'} %>
        <h4 class="text-center">Album Relationships</h4>
        <div id="Albums">
          <%= render :partial => 'layouts/self_relation_edit_form', locals: {:relations => @album.related_album_relations, :edit_fields => 'album[relatedalbums]', :remove_fields => 'album[removerelatedalbums]', :model => 'Album'} %>
          <div id="RelatedAlbumFields"></div>
          <%= link_to "Add a Related Album", addrelatedmodel_path(:div_id => "#RelatedAlbumFields", :model => "Album", :fields_for_cats => 'album[newalbumcategories]', :fields_for_names_or_ids => 'album[newalbumids]', :autocomplete => 'album_namehash'), :remote => true %>         
        </div>
      </div>      
      <div class="well">        
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Artists', :toggleid => 'ArtistToggle'} %>
        <h4 class="text-center">Artists</h4>
        <div id="Artists">
          <% if @album.artist_albums.nil? == false %>
            <% @album.artist_albums.each do |artistalbum| %>
              <div class="row-fluid">
                <%= link_to artistalbum.artist.name, artistalbum.artist %>:
                <% categories = Artist.get_categories(artistalbum.category) %>
                <%= hidden_field_tag 'album[artistalbums][' + artistalbum.id.to_s + '][]', '' %>
                <% Artist::Credits.each_with_index do |credit,n| %>
                  <%= check_box_tag 'album[artistalbums][' + artistalbum.id.to_s + '][]', credit, categories.include?(credit) %> <%= Artist::CreditsAbbr[n] %> 
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div id="ArtistFields"></div>
          <%= link_to "Add an Artist", addartist_path, :remote => true %></br></br>                
        </div>
      </div>
      <div class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Sources', :toggleid => 'SourceToggle'} %>
        <h4 class="text-center">Sources</h4>
        <div id="Sources">
          <% if @album.sources.nil? == false %>
            <% @album.sources.each do |source| %>
              <div class="row-fluid">
                <%= check_box_tag 'album[removesources][]', source.id %>
                <%= link_to source.name, source %>
              </div>
            <% end %>
          <% end %>
          <div id="SourceFields"></div>
          <%= link_to "Add a source", addmodel_path(:div_id => "#SourceFields", :fields_for_names => "album[newsourceids]", :autocomplete => 'source_namehash'), :remote => true %></br></br> 
        </div>
      </div>
      <div class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Organizations', :toggleid => 'OrgToggle'} %>
        <h4 class="text-center">Organizations</h4>
        <div id="Organizations">
          <% if @album.album_organizations.empty? == false %>
            <% @album.album_organizations.each do |relation| %>
              <div class="row-fluid">
                <%= check_box_tag 'album[removealbumorganizations][]', relation.id %>
                <%= link_to relation.organization.name, relation.organization %>
                <%= fields_for 'album[albumorganizations]['+ relation.id.to_s + ']' do |f| %>
                    <%= f.select 'category', AlbumOrganization::Categories, :selected => relation.category %>
                <% end %>             
              </div>
            <% end %>
          <% end %>
          <div id="OrganizationFields"></div>
          <%= link_to "Add an organization", addmodel_path(:div_id => "#OrganizationFields", :fields_for_names => "album[neworganizationids]", :fields_for_cats => "album[neworganizationcategories]", :category_model => "AlbumOrganization", :category_constant => "Categories", :autocomplete => 'organization_namehash'), :remote => true %></br></br> 
        </div>
      </div>
      <div id="Namehash" class="well">
        <%= render :partial => 'layouts/well_toggle', locals: {:divid => 'Languages', :toggleid => 'LanguageToggle'} %>
        <h4 class="text-center">Languages</h4>
        <div id="Languages">
          <%= f.fields_for :namehash, @album.namehash do |p| %>
            <br>English:<%= p.text_field :English, :class => "input-large", :value => @album.namehash[:English] %>
            <br>Japanese:<%= p.text_field :Japanese, :class => "input-large", :value => @album.namehash[:Japanese] %>
            <br>Romaji:<%= p.text_field :Romaji, :class => "input-large", :value => @album.namehash[:Romaji] %>
            <br>Korean:<%= p.text_field :Korean, :class => "input-large", :value => @album.namehash[:Korean] %>
            <br>Romanized Korean:<%= p.text_field :RomanizedKorean, :class => "input-large", :value => @album.namehash[:RomanizedKorean] %>
          <% end %>
        </div>
      </div>
      <div id="Songs" class="well">
        <% if @album.songs.empty? == true %>
          <h4 class="text-center">Songs</h4>
        <% else %>        
          <h4 class="text-center">Songs <%= link_to "(Edit tracklist)", tracklist_edit_album_path %></h4>
        <% end %>
        <% if @album.songs.nil? == false %>
          <% @album.songs.each do |song| %>
            <div class="row-fluid">    
              <%= song.tracknumber %>
              <%= song.name %>
            </div>
          <% end %>
        <% end %>
        <div id="SongFields"></div>
        <%= link_to "Add a song", addsong_path, :remote => true %></br></br>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
