<% content_for :title do %>Tracklist Export - <%= name_language_helper(@album,current_user,0)  %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Tracklist Export for <%= link_to name_language_helper(@album,current_user,0), @album %></h2>
  </div>
<% end %>

<div class="well text-center">
  <div class="row">
    <div class="col-md-3">
      <%= form_for 'tracklist_options', :method => 'get', :html => {:class => "form-horizontal"} do |f| %>
        <% Album::TracklistOptions.each do |k,v| %>
          <%= check_box_tag k, 1, if params['resubmit'].nil? 
                                    @user_defaults.include?(k.to_s) 
                                  else 
                                    params[k.to_s].nil? == false
                                  end %> <%= v %><br>
                                <% end %>
        <%= hidden_field_tag 'resubmit', 1 %>
        <div class="actions">
          <%= f.submit "Update Export", :remote => true %>
        </div>
      <% end %>
    </div>
    <form class="col-md-9 form-horizontal">
      <div>
        <%= label :scheme, "Scheme:" %>
        <%= text_field :scheme, "scheme", :value => @foobarscheme, class: "form-control" %>
      </div>
      <div>
        <%= label :tracklist, "Input data:" %>
        <%= text_area :tracklist, "tracklist", :rows => @rows, :value => @foobartracklist, class: "form-control" %>
      </div>
    </form>
  </div>
</div>
