<list class="IndexListing">
  <%= paginate @albums, :remote => true, :param_name => 'albumpage', :params => {:model => 'Album'} %>  
  <% if @albums.empty? %>
    <h5>No Album Results</h5>
  <% else %>
    <% @albums.each_with_index do |album, index| %>
      <ul class="well well-xsmall">
        <div class="row">
          <div class="albumimagepreview col-md-1">
            <%= primary_image_helper(album, album, "thumb", :square => true, :outline_flag => 'true') %>
          </div>
          <div class="col-md-9">
            <%= link_to name_language_helper(album,current_user,0), album %><br>
            <%= linked_attribute_display(album.tags, "Tags")%>
            <%= attribute_display(album, "releasedate", "" ) %>
          </div>      
        </div>
      </ul>
    <% end %>
  <% end %>
  <%= paginate @albums, :remote => true, :param_name => 'albumpage', :params => {:model => 'Album'}  %>  
</list>