<div id=<%= "Tags" + subject.id.to_s %>>
  Delete Tags:  
  <% subject.tags.order(:classification).each do |tag| %>
    <span class=<%= "Tag" + tag.id.to_s %>>
      <%= link_to tag.name, remove_tag_path(:tag_id => tag.id, :subject_id => subject.id, :subject_type => subject.class.to_s), :remote => true%>
    </span>
  <% end %>
  <br>Add New Tags:
  <% newtags = (Tag.all - subject.tags) %>
  <% newtags.sort_by!(&:classification) %>
  <% tagclass = newtags.first.classification %>
  <% newtags.each do |tag| %>
    <% if Tag.get_models(tag.model_bitmask).include?(subject.class.to_s)%>
      <% if tag.classification != tagclass %>|<% end  %>
      <span class=<%= "Tag" + tag.id.to_s %>>
        <%= link_to tag.name, add_tag_path(:tag_id => tag.id, :subject_id => subject.id, :subject_type => subject.class.to_s), :remote => true %>      
      </span>
      <% tagclass = tag.classification %>
    <% end %>
  <% end %>
</div>
