<% content_for :title do %><%= "Tags - #{@tag.name}" %><% end %>

<% content_for :header do %>
  <h2 class="text-center"><%= @tag.name %></h2>
<% end %>

<p id="notice"><%= notice %></p>

<% if can? :read, @tag %>
  <div id="content">
    <%= render 'layouts/work_in_progress' %>
    <% @tag.subjects.group_by(&:class).each do |k,v| %>
      <div>
        <h4><%= k.to_s.pluralize %></h4>
        <% v.each do |record| %>
          <li><%= link_to name_language_helper(record, current_user, 0), record %></li>
        <% end %>        
      </div>
    <% end %>
  </div>
<% end %>


