<% content_for :title do %><%= "Tags - #{language_helper(@tag, :name)}" %><% end %>

<% content_for :header do %>
  <h2 class="text-center"><%= language_helper(@tag, :name) %></h2>
<% end %>

<p id="notice"><%= notice %></p>

<% if can? :read, @tag %>
  <div id="content">
    <%= render 'layouts/work_in_progress' %>
    <% @tag.subjects.group_by(&:class).each do |k,v| %>
      <div>
        <h4><%= k.to_s.pluralize %></h4>
        <% v.each do |record| %>
          <li><%= link_to language_helper(record, :name), record %></li>
        <% end %>        
      </div>
    <% end %>
  </div>
<% end %>


