<% content_for :title do %><%= "Tags - " + @tag.name %><% end %>

<% content_for :header do %>
  <h2 class="text-center"><%= @tag.name %></h2>
<% end %>

<p id="notice"><%= notice %></p>

<% if can? :edit, Tag %>

<p>
  <b>Category:</b>
  <%= @tag.classification %>
</p>

<p>
  <b>Info:</b>
  <%= @tag.info %>
</p>

<p>
  <b>Synopsis:</b>
  <%= @tag.synopsis %>
</p>

<p>
  <b>Available Models:</b>
  <% @models.each do |model| %>
    <%= model %>
  <% end%>
</p>

<% if @albums.nil? == false %>
  <h5>Albums:</h5>
  <% @albums.each do |album| %>
    <%= link_to name_language_helper(album,current_user,0), album %><br>
  <% end %>
<% end %>

<% if @artists.nil? == false %>
  <h5>Artists:</h5>
  <% @artists.each do |artist| %>
    <%= link_to name_language_helper(artist,current_user,0), artist %><br>
  <% end %>
<% end %>

<% if @organizations.nil? == false %>
  <h5>Organizations:</h5>
  <% @organizations.each do |organization| %>
    <%= link_to name_language_helper(organization,current_user,0), organization %><br>
  <% end %>
<% end %>

<% if @sources.nil? == false %>
  <h5>Sources:</h5>
  <% @sources.each do |source| %>
    <%= link_to name_language_helper(source,current_user,0), source %><br>
  <% end %>
<% end %>

<% if @songs.nil? == false %>
  <h5>Songs:</h5>
  <% @songs.each do |song| %>
    <%= link_to name_language_helper(song,current_user,0), song %><br>
  <% end %>
<% end %>

<% else %>
<div class="text-center">
  <%= image_tag('construction.png')%>
</div>
<% end %>
