<div id="header" class="navbar navbar-fixed-top">
  <ul id="head-wrapper" class="nav nav-pills">
    <li id="logo"></li>
    <li id="search-bar">
      <%= form_tag search_path, :method => :get, id: "search-form" do %>
        <%= submit_tag " ", id: 'search-button', name: nil %><%= text_field_tag :search, nil, maxlength: 400, placeholder: "Search Database", :id => 'search-box' %>
      <% end %>
    </li>
    <li id="support-home"><%= link_to "Home", root_path %></li>
    <li id="blog-links"><%= link_to "Blog", posts_path %></li>
    <li id="database-links" class="dropdown">
      <%= link_to database_path, class: "dropdown-toggle" do %>
        Database<%= content_tag(:b, "", class: 'caret') %>
      <% end %>
      <ul class="dropdown-menu">
        <li id="explore-albums"><%= link_to "Albums", albums_path %></li>
        <li id="explore-songs"><%= link_to "Songs", songs_path %></li>
        <li id="explore-artists"><%= link_to "Artists", artists_path %></li>
        <li id="explore-source-material"><%= link_to "Source Material", sources_path %></li>        
        <li id="explore-organizations"><%= link_to "Organizations", organizations_path %></li>
        <li id="explore-seasons"><%= link_to "Current Season", url_for(Season.order('start_date DESC').first)%></li>
        <li id="explore-events"><%= link_to "Events", events_path%></li>
        <li id="explore-tags"><%= link_to "Tags", tags_path%></li>  
        <li id="explore-calendar"><%= link_to "Calendar", calendar_path%></li>   
      </ul>
    </li>
    <% if can? :scrape, Album %>
      <li id="admin-links" class="dropdown">
        <%= link_to maintenance_path, class: "dropdown-toggle" do %>
          Admin<%= content_tag(:b, "", class: 'caret') %>
        <% end %>
        <ul class="dropdown-menu">
          <li id="admin-scrape"><%= link_to "Scrape", maintenance_scrapeanalbum_path %></li>
          <li id="admin-scrape"><%= link_to "Scrape Results", maintenance_scraperesults_path %></li>
        </ul>
      </li>      
    <% end %>
    <li id="support-links" class="dropdown">
      <%= link_to help_path, class: "dropdown-toggle" do %>
        Help<%= content_tag(:b, "", class: 'caret') %>
      <% end %>
      <ul class="dropdown-menu">
        <li id="support-help"><%= link_to "Help", help_path %></li>
        <li id="support-about"><%= link_to "About", about_path %></li>  
        <li id="support-bugs"><%= link_to "Bug and Feature Tracker", issues_path %></li>  
      </ul>
    </li>  
    <% if current_user %>
      <li id="user-links" class="dropdown user-links">
        <%= link_to edit_profile_user_path(:id => current_user.id), data: {toggle: "dropdown"}, class: "dropdown-toggle" do %>
          <%= current_user.name %><%= content_tag(:b, "", class: 'caret') %>
        <% end %>
        <ul class="dropdown-menu">
          <li id="user-edit"><%= link_to "Settings", edit_profile_user_path(id: current_user.id) %></li>
          <li id="user-watchlist"><%= link_to "Watchlist", watchlist_user_path(:id => current_user.id) %></li>
          <li id="user-collection"><%= link_to "Collection", collection_user_path(:id => current_user.id) %></li>
          <li id="user-logout"><%= link_to "Logout", :controller => "user_sessions", :action => "destroy" %></li>    
        </ul>
      </li>  
    <% else %>
      <li id="user-signup" class="user-links"><%= link_to "Join", new_user_path %></li>
      <li id="user-login" class="user-links"><%= link_to "Login", login_path %></li>
    <% end %> 
  </ul>
</div>