<% content_for :title do %>Post <%= @post.id %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Post #<%= @post.id%></h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Destination:</b>
  <%= @post.recipient %>
</p>

<p>
  <b>Content:</b>
  <% @contentarray.each do |line| %>
  <%=  line%><br>
  <% end %>
</p>