<% content_for :title do %><%= @post.title %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2><%= @post.title%></h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<div id="content">
  <div id="posts">
      <%= render "posts/display_post", post: @post, :truncate_length => 1000%>
  </div>
  <div id="sidebar">
    <div id="tags">
      <% unless @post.tags.empty? %>
        <div class="panel">
          <div class="panel-heading">Tags</div>
          <div class="nav nav-pills nav-stacked">
            <% @post.tags.each do |tag| %>
              <li><%= link_to language_helper(tag, :name), posts_path(tags: tag) %></li>
            <% end %>
          </div>        
        </div>
      <% end %>
    </div>
    <div id="records">
      <% unless @post.models.empty? %>
        <div class="panel">
          <div class="panel-heading">Records Mentioned in This Post</div>
          <div class="nav nav-pills nav-stacked">
            <% @post.models.each do |record| %>
              <li><%= link_to (raw "#{record.class.to_s}: #{name_language_helper(record, current_user, 0)}"), record %></li>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if can? :edit, Post %>
      <div id="admin">
        <div class="panel">
          <div class="panel-heading">Admin</div>
          <div class="nav nav-pills nav-stacked">
            <li><%= link_to "Edit", edit_post_path(@post)%></li>
          </div>
        </div>
      </div>    
    <% end %>
  </div>
</div>  
