<% content_for :title do %>Post <%= @post.id %><% end %>

<% content_for :header do %>
  <div class="text-center">
    <h2>Post #<%= @post.id%></h2>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Destination:</b>
  <%= @post.recipient %>
</p>

<p>
  <b>Simple Format Content:</b>
  <%= simple_format(@post.content, nil, sanitize: false) %>
</p>


<p>
  <b>Raw Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Parsed Content:</b>
  <%= post_content_helper(@post.content) %>
</p>

