<%= form_for @image, html: {class: 'form-horizontal'} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %>
    <%= f.text_field :path %>
  </div>
  <div class="field">
    <%= f.label :medium_path %>
    <%= f.text_field :medium_path %>
  </div>
  <div class="field">
    <%= f.label :thumb_path %>
    <%= f.text_field :thumb_path %>
  </div>
  <div class="field">
    <%= f.label :primary_flag %>
    <%= f.select :primary_flag, ["Cover", "Primary"], :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, ["NWS", "SFW"], :include_blank => true %>    
  </div>
  <div class="field">
    <%= f.label :llimagelink%>
    <%= f.text_field :llimagelink %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
