<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Medium Path</th>
    <th>Thumb Path</th>
    <th>Flag</th>
    <th>LL Image Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= paginate @images %>
<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= image.path %></td>
    <td><%= image.medium_path %></td>
    <td><%= image.thumb_path %></td>
    <td><%= image.primary_flag %></td>
    <td><%= image.llimagelink %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
