<div id="<%= divid %>" class="well">
  <h4 class="text-center"><%= header %></h4>
  <% collection.each do |relation| %>
    <div>
      <%= link_to "Expand", albumpreview_path(:albumid => relation.album.id), :remote => true, class: "label label-default" %>
      <%= link_to "Collapse", hidealbumpreview_path(:id => relation.album.id), :remote => true, :style => 'display: none', class: "label label-default"  %>
      <%= link_to name_language_helper(relation.album,current_user,0), relation.album %>
      <% if relation.class.to_s == "ArtistAlbum" %>
        <% unless relation.artist == @artist%>
          (as <%= link_to name_language_helper(relation.artist,current_user,0), relation.artist %>)
        <% end %>     
      <% end %>
      <div class="pull-right">
        <%= relation.album.releasedate %>
      </div>
      <div class="Albumpreviews" id="<%= relation.album.id %>"></div>
    </div>
  <% end %>
</div>