<% collection.each do |record| %> 
   <h3 class="text-center"><%= link_to name_language_helper(record,current_user,0), record %>      
    <% if name_language_helper(record,current_user,1).nil? == false and name_language_helper(record,current_user,1).empty? == false %>
      (<%= name_language_helper(record,current_user,1) %>)
    <% end %></h3>
  <div class="pull-right">(Albums: <%= record.albums.uniq(&:id).count %>)</div>
  <!-- <div class="pull-right"><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></div> -->      
  <div class="AlbumPreview row">
    <div class="col-md-1"></div>
    <% record.albums.uniq(&:id).last(5).each do |album| %>
      <div class="col-md-2">
        <%= primary_image_helper(album, album, "medium", :outline_flag => true, :square => true) %>
      </div>
    <% end %>
    <div class="col-md-1"></div>
  </div> 
<% end %>