<div class="navbar navbar-fixed-top">
    <ul class="breadcrumb">
      <% if can? :read, Album %>   
        <div id="search_nav" class="navbar-left">
          <%= form_tag search_path, :method => :get do %>
            <%= text_field_tag :search, nil, :id => 'search_box' %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
      <% end %>
      <div class="navbar-mid">
        <%= link_to "Home", root_path %> |
        <% if can? :read, Artist %>
          <%= link_to "Artists", artists_path %> |
          <%= link_to "Albums", albums_path %> |
          <%= link_to "Organizations", organizations_path %> |
          <%= link_to "Source Material", sources_path %> |
          <%= link_to "Seasons", seasons_path %> |
          <%= link_to "Random Albums", randomalbums_path %> |  
        <% end %>
        <%= link_to "About", about_path %>
        <% if can? :scrapeanalbum, Album %>
          | <%= link_to "Scrape", maintenance_scrapeanalbum_path %>
        <% end %>
      </div>
      <div id="user_nav" class="navbar-right">
        <% if current_user %>
          <%= link_to "Logout", :controller => "user_sessions", :action => "destroy" %>       
        <% else %> 
          <%= link_to "Register", new_user_path %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
      <li></li>
    </ul>
</div>
