<!DOCTYPE html>
<html>
  <head>
    <title>Hibiki<% if content_for?(:title)%> - <% end %><%= yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <%= render 'layouts/header' %>
  </header>
  <body>
    <div class="container-fluid" id="Main">
      <%= yield :header %> 
      <div class="row">
        <div class="col-md-10">
          <%= yield %>
        </div>
        <div class="col-md-2">
          <%= render 'layouts/sidebar' %>  
        </div>  
      </div>
    </div>  
  </body>
</html>
