<!DOCTYPE html>
<html>
  <head>
    <title>Hibiki<% if content_for?(:title)%> - <% end %><%= yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/structural/header' %>
  <%= render 'layouts/structural/alerts' %>
  <body>
    <div id="main">
      <%= yield :header %>
      <div id="view">
        <%= yield %>
      </div>
    </div>  
  </body>
</html>
